%uiCloseInActiveElements {
   transition: 
      background .2s ease, 
      transform .5s ease .7s,
      opacity .5s ease .7s,
      visibility .5s ease .7s;
   transform: none;
   opacity: 1;
   visibility: visible;
}

.ui-close {
   $size: clamp(35px, 10cqi, 45px);
   $fSize: clamp(19px, 5cqi, 24px);

   width: $size;
   height: $size;
   background: var(--ui_dark);
   border-radius: var(--circleRd);
   box-shadow: var(--ui_close_shadow);
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   opacity: 0;
   visibility: hidden;
   cursor: pointer;
   transform: translateX(-20px);
   transition: 
      background .2s ease, 
      transform .5s ease 0s,
      opacity .5s ease 0s,
      visibility .5s ease 0s;

   i {
      font-size: $fSize;
      color: var(--text_selected_on_dark);
      transition: all .2s ease;
   }

   &:hover {
      background: var(--dark);

      i {
         color: var(--action);
      }
   }

   &.close_popup {
      top: 23px;
      right: -23px;
      
      i {
         font-size: clamp(15px, 5cqi, 19px);
      }
   }

   &.close_fade-side {
      &.right_side {
         right: -25px;
         top: 40px;

         i {
            margin-right: 3px;
         }
      }

      &.left_side {
         left: -25px;
         top: 40px;
         transform: translateX(20px);
      }
   }

   &.close_input-file {
      width: 30px;
      height: 30px;
      top: -10px;
      right: -8px;

      i {
         font-size: 13px;
      }
   }

   &.close_notification {
      width: 35px;
      height: 35px;
      top: -8px;
      right: -8px;
      background: var(--light);
      box-shadow: var(--light_btn_shadow);
      opacity: 1;
      visibility: visible;
      transform: none;

      i {
         font-size: 15px;
         color: var(--dark)
      }
   }
}

.ui-popup.active {
   .ui-close {
      @extend %uiCloseInActiveElements;

      &.close_fade-side, 
      &.close_popup,
      &.close_product-remove,
      
      &.close_input-file {
         @extend %uiCloseInActiveElements;
      }
   }
}


// NOTE Popup close
@include media (max-width, 900px) {
   .ui-popup {
      &.popup {
         .ui-close:not(.ui-close.close_input-file) {
            top: -15px;
            right: 15px;
         }
      }
   }
}


// NOTE Fade in Side close
@include media (max-width, 670px) {
   .ui-close {
      &.close_fade-side {
         &.right_side {
            right: 20px;
         }

         &.left_side {
            left: 20px;
         }
      }
   }
}

