<div class="shopping-cart-info calc_delivery">
   <div class="shopping-cart-info__container">

      <ul class="shopping-cart-info__list">
         <li class="info-item">
            <span class="key info-item__text">В корзине:</span>
            <span class="value info-item__text">товаров: 3</span>
         </li>
      
         <li class="info-item">
            <span class="key info-item__text">Сумма:</span>
            <span class="value bold info-item__text">97 950 ₽</span>
         </li>
      
         <li class="info-item">
            <span class="key info-item__text">Доставка:</span>
            <span class="value info-item__text">Заполните форму</span>
         </li>
      
         <li class="info-item total_item">
            <span class="key info-item__text">Итого:</span>
            <span class="value info-item__text">97 950 ₽</span>
         </li>
      </ul>
   </div>
</div>