<div class="shopping-cart-info calc_delivery">
   <div class="shopping-cart-info__container">

      <ul class="shopping-cart-info__list">
         <li class="info-item">
            <span class="key info-item__text">Сумма (3):</span>
            <span class="separator"></span>
            <span class="value bold info-item__text">97 000 ₽</span>
         </li>
      
         <li class="info-item">
            <span class="key info-item__text">Доставка:</span>
            <span class="separator"></span>
            <span class="value bold info-item__text delivery_value">950 ₽</span>
         </li>
      </ul>

      <div class="total">
         <span class="key info-item__text">Итого:</span>
         <span class="value info-item__text">97 950 ₽</span>
      </div>
   </div>
</div>