.swiper-container {
   position: relative;

   .swiper-button-next,
   .swiper-button-prev {
      margin: 0;
      padding: 0;
      top: 40%;
      transform: translateY(-50%);
      width: clamp(35px, 7cqw, 46px);
      height: clamp(35px, 7cqw, 46px);
      border-radius: var(--circleRd);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--dark);
      overflow: hidden;
      z-index: 2;
      transition: all .2s ease;
      
      &:after {
         font-family: var(--icon_font);
         font-size: clamp(12px, 4cqi, 20px);
         color: var(--light);
         transition: inherit;
      }

      &.swiper-button-disabled {
         opacity: 0;
         visibility: hidden;
         translate: -5px;
      }

      &:hover {
         &:after {
            color: var(--action);
         }
      }
   }

   .swiper-button-next {
      right: -15px;

      &:after {
         content: '\e905';
      }
   }

   .swiper-button-prev {
      left: -15px;

      &:after {
         content: '\e902';
      }
   }

   .reviews-arrows {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--small_btn_padding);
      position: absolute;
      right: 0;
      top: -80px;

      .swiper-button-next,
      .swiper-button-prev {
         position: static;
         transform: none;
      }
   }



   .swiper-pagination {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100% !important;
      transform: none !important;
      gap: 7px;
      position: static;

      .swiper-pagination-bullet {
         display: none;

         &.swiper-pagination-bullet-active {
            display: block;
            background: var(--dark);
         }
      }

      [class*="swiper-pagination-bullet-active-next"] {
         margin: 0;
         width: 10px;
         height: 10px;
         background: var(--dark);
         display: block;

         
      }
   }
}
