.swiper-container {
   position: relative;
   
   .swiper-pagination {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100% !important;
      transform: none !important;
      gap: 7px;
      position: static;

      .swiper-pagination-bullet {
         display: none;

         &.swiper-pagination-bullet-active {
            display: block;
            background: var(--dark);
         }
      }

      [class*="swiper-pagination-bullet-active-next"] {
         margin: 0;
         width: 10px;
         height: 10px;
         background: var(--dark);
         display: block;

         
      }
   }
}
