.submenu-wrapper {
   padding: 40px;
   position: absolute;
   top: 102%;
   left: 50%;
   transform: translateX(-50%);
   display: grid;
   grid-template: auto / 1fr 1fr;
   gap: 60px;
   background: var(--separating);
   border-radius: var(--optionalRd);
   z-index: 2;
   opacity: 0;
   visibility: hidden;
   translate: 0 10px;
   transition: all .3s ease;

   .submenu-links-container {
      min-width: 480px;
   }

   .submenu-category-container {
      width: 360px;
   }

   .ui-tabs {
      margin-bottom: 35px;
      justify-content: flex-start;
   }

   .submenu {
      &-list {
         display: grid;
         grid-template: auto / 1fr 1fr;
         column-gap: 30px;
         row-gap: 14px;
         width: 100%;

         &__item {
            align-self: start;  
            max-width: 200px;
            width: max-content;
            
            a {
               padding: 3px 0;
               font-size: 17px;
               font-weight: 300;
               line-height: 104%;
               color: var(--dark);
            }

            &:hover {
               a {
                  color: var(--action);
                  transform: translateX(3px);
               }
            }
         }
      }
   }
}