.brand-card {
   padding: 15px 5px;
   min-height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: clamp(var(--slRd), 3cqi, var(--mdRd));
   background: var(--separating);
   container-type: inline-size;
   transition: all .3s ease;
   
   img {
      max-width: 80cqi;
      height: auto;
      filter: grayscale(1);
      display: inline-block;
      transition: all .2s ease;
   }

   &:hover {
      background: var(--light);
      box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.05);
      transform: translateY(-3px);

      img {
         filter: grayscale(0);
      }
   }

   &.card_search {
      padding: 8px;
      width: 97px;
      height: 39px;
      min-height: 39px;
      background: var(--separating_contrast);
      border-radius: var(--xsRd);

      img {
         max-width: 100%;
         height: 100%;
         filter: grayscale(0);
         width: 100%;
         object-fit: contain;
      }

      &:hover {
         background: var(--light);
         transform: translateY(-2px);
      }
   }
}


.brands-list {
   display: grid;
   grid-template: auto / repeat(6, 1fr);
   gap: 10px;

   @include media (max-width, 1200px) {
      grid-template: auto / repeat(5, 1fr);
   }

   @include media (max-width, 1000px) {
      grid-template: auto / repeat(4, 1fr);
   }

   @include media (max-width, 800px) {
      grid-template: auto / repeat(3, 1fr);
   }

   @include media (max-width, 600px) {
      grid-template: auto / repeat(2, 1fr);
   }
}