<div class="brands-list">
   @@loop('./brand-card.html', [
      { "img": "../../../img/brands/brand_1.webp" },
      { "img": "../../../img/brands/brand_2.webp" },
      { "img": "../../../img/brands/brand_3.webp" },
      { "img": "../../../img/brands/brand_4.webp" },
      { "img": "../../../img/brands/brand_5.webp" },
      { "img": "../../../img/brands/brand_6.webp" },
      { "img": "../../../img/brands/brand_7.webp" },
      { "img": "../../../img/brands/brand_8.webp" },
      { "img": "../../../img/brands/brand_9.webp" },
      { "img": "../../../img/brands/brand_10.webp" },
      { "img": "../../../img/brands/brand_11.webp" },
      { "img": "../../../img/brands/brand_12.webp" },
   ])
</div>