@import './feature-product/feature-product';

.feature-products {
   display: grid;
   grid-template: auto / 1fr 1fr;
   gap: 20px;

   @include media(max-width, 840px) {
      grid-template: 1fr / 1fr;
   }
}