@import '../../scss/common';

// TODO UI
@import '../../components/ui/ui-breadcrumbs/ui-breadcrumbs';
@import '../../components/delivery/delivery';
@import '../../components/shopping-cart/shopping-cart-info';
@import '../../components/forms/form-order/form-order';
@import './order-final/order-final';
@import '../../components/popups/popup-success-order/popup-success-order';


// TODO Order section
.order-section {
   padding-bottom: var(--section_gutter);
   overflow: hidden;

   .order-content {
      position: relative;

   }
}