@import './filter-items/filter-items';
@import './fitler-price/fitler-price';

#popup-filters {
   .ui-popup__container {
      padding: 30px $fadePaddingX 20px $fadePaddingX;
      max-width: 450px;
   }

   .form-filters__nav {
      margin-top: 20px;
   }

   .products-count {
      margin-bottom: 20px;
      font-size: 17px;
      font-weight: 300;
      line-height: 100%;
      color: var(--text_additional);
      text-align: center;

      strong {
         color: var(--light);
      }
   }

   .ui-popup__btns {
      margin-top: 0;
      grid-template: auto / repeat(auto-fill, minmax(140px, 1fr));
   }
}

#form-filters {
   height: 100dvh;
   display: grid;
   grid-template: min-content 1fr min-content / 1fr;

   .form-filters__content {
      margin-right: -25px;
      padding-right: 15px;
      overflow-y: auto;

      &::-webkit-scrollbar {
         background: transparent;
         width: 4px;
         height: 4px;
         display: none;
      }
      
      &::-webkit-scrollbar-thumb {
         background: var(--ui_dark);
         border-radius: 50px;
      }
      
      &::-webkit-scrollbar-corner {
         background: transparent;
      }
   }

   .ui-popup__btns {
      max-width: 100%;
   }

   @include media (max-height, 680px) {
      min-height: 100dvh;
      height: auto;
   
      .form-filters__content {
         min-height: 450px;
      }
      
   }
}

