.review {
   container-type: inline-size;

   &-inside {
      padding: 40px clamp(20px, 8cqi, 40px);
      border-radius: clamp(var(--optionalRd),11cqi,var(--defaultRd));
      background: var(--separating);
      position: relative;

      .author {
         margin-bottom: 25px;

         .name {
            margin-bottom: 5px;
            font-size: 25px;
            font-weight: 400;
            line-height: 100%;
            color: var(--dark);
         }

         .date {
            font-size: 15px;
            font-weight: 300;
            line-height: 100%;
            color: var(--text_additional);
         }
      }

      .text {
         margin-bottom: 25px;
         font-size: clamp(16px, 4cqi, 17px);
         font-weight: 300;
         line-height: 140%;
         color: var(--dark);
         
         @include textCropping( $stringCount: 6 );
      }

      .rating {
         padding: 10px 15px;
         position: absolute;
         top: 0;
         right: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 8px;
         border-bottom-left-radius: var(--mdRd);
         background: var(--light);

         .count {
            margin-top: 2px;
            display: inline-block;
            font-size: 16px;
            font-weight: 300;
            line-height: 100%;
            color: var(--dark);
         }

         i {
            font-size: 18px;
            color: var(--active_star);
         }

         @include uiInsideRadiusPseudo(
            $sizeB: 17px,
            $topB: 0,
            $leftB: -17px,
            $sizeA: 17px,
            $rightA: 0,
            $bottomA: -17px,
         )
      }

      .show-more {
         padding: 10px 20px;
         display: inline-flex;
         align-content: center;
         gap: 15px;
         background: var(--light);
         border-top-left-radius: var(--mdRd);
         position: absolute;
         bottom: 0;
         right: 0;
         cursor: pointer;
         transition: all .2s ease;

         @include uiInsideRadiusPseudo(
            $sizeB: 17px,
            $topB: -17px,
            $rightB: 0,
            $sizeA: 17px,
            $leftA: -17px,
            $bottomA: 0,
            $transform: rotate(90deg)
         );
      }
   }
}

.product-reviews-list {
   .review {

      &:not(:last-child) {
         margin-bottom: 15px;
      }

      &-inside {
         padding: 30px clamp(20px, 8cqi, 30px);
         border-radius: clamp(var(--slRd),11cqi,var(--optionalRd));

         .author {
            margin-bottom: 20px;
         }

         .text {
            font-size: clamp(15px, 4cqi, 16px);
            max-width: 850px;
         }
      }
   }
}