.ui-popup {
   @extend %hiddenWrap;
   padding: 20px;
   
   &__content {
      padding: 50px clamp(20px, 4cqi, 50px);
      max-width: 820px;
      width: 100%;      
      background: var(--dark);
      box-shadow: var(--popup_shadow);
      align-self: center;
      justify-self: center;
      position: relative;
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
      container-type: inline-size;
      container-name: uiPopup;
      z-index: 2;
      transition: all .3s ease .25s;
      
      @extend %dynamicRadius40to25;
   }

   &.active {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;

      .ui-popup__content {
         opacity: 1;
         visibility: visible;
         transform: none;
      }
   }
}

.popup-title {
   font-size: 40px;
   font-weight: 400;
   line-height: 100%;
   color: var(--light);
}

.popup-text {
   margin-top: 10px;
   font-size: 15px;
   font-weight: 300;
   line-height: 110%;
   color: var(--text_additional);
   max-width: 320px;
}

.popup-head {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   gap: 15px;
}

@import './popup-review/popup-review';