$gapDefault: 40px;
$fadePaddingX: clamp(var(--default_padding), 5cqi, var(--fade_on_the_side_padding));
$fadePadding: 110px $fadePaddingX 40px $fadePaddingX;
$transitionDuration: .2s ease;

@import '../menu/mobile-menu/mobile-menu';
@import '../forms/form-review/form-review';
@import '../product/product-card/product-card-cart/product-card-cart';
@import './fade-side/popup-filters/popup-filters';
@import './fade-side/popup-review/popup-review';
@import './fade-side/popup-search/popup-search';
@import './popup-send-review/popup-send-review';

.ui-popup {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: 100%;
   min-height: 100%;
   display: grid;
   grid-template: 1fr / 1fr;
   overflow-y: auto;
   overflow-x: hidden;
   opacity: 0;
   visibility: hidden;
   transition: all .2s ease .45s;

   &::-webkit-scrollbar {
      display: none;
   }
   
   
   &__container {
      width: 100%;      
      background: var(--dark);
      position: relative;
      container-type: inline-size;
      container-name: uiPopupContainer;
      z-index: 2;
   }
   
   &__overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      background: var(--overlay);
   }


   /* TODO Стили для popup */
   &.popup {
      padding: 20px clamp(10px, 3cqi, 20px);

      .ui-popup__container {
         padding: clamp(35px, 4cqi, 50px) clamp(20px, 4cqi, 50px);
         box-shadow: var(--popup_shadow);
         align-self: center;
         justify-self: center;
         max-width: var(--ui_popup_container_width);
         opacity: 0;
         visibility: hidden;
         transform: translateY(30px);
         transition: all .4s ease .3s;

         @extend %dynamicRadius40to25;
      }
   }


   /* TODO Стили для popup, котоыре появляются сбоку */
   &.fade-side {
      .ui-popup__container {
         padding: $fadePadding;
         min-height: 100dvh;
         max-width: 630px;
         align-self: start;
         justify-self: end;
         transform: translateX(calc(30px + var(--fade_on_the_side_width)));
         transition: all .5s ease;
      }

      &.left-side {
         .ui-popup__container  {
            transform: translateX(calc(-1 * (30px + var(--fade_on_the_side_width))));
            justify-self: start;
         }
      }
   }


   &.active {
      opacity: 1; 
      visibility: visible;
      transition-delay: 0s;

      &.popup {
        .ui-popup__container {
            opacity: 1;
            visibility: visible;
            transform: none;
            transition-delay: .2s;
        }
      }

      &.fade-side {
         .ui-popup__container {
            transform: none;
            transition-delay: .2s;
         }
      }
   }
}

// NOTE Заголовок (название компонента fade-on-side)
.ui-popup__title {
   margin-bottom: 60px;
   font-size: 40px;
   font-weight: 400;
   line-height: 100%;
   color: var(--light);

   &.fade-side__title {
      margin-bottom: 60px;
      font-weight: 500;
      line-height: 110%;
   }

   &.underline {

      padding-bottom: 10px;
      position: relative;

      &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 70px;
         height: 2px;
         background: var(--light);
         border-radius: var(--defaultRd);
      }
   }
}


/* TODO Список с товарами в корзине/сравнении */
.ui-popup-products {
   margin: -20px 0 0 -20px;
   padding: 20px 0 20px 20px;
   overflow-y: visible;
   overflow-x: auto;

   &::-webkit-scrollbar {
      display: none;
   }

   &__list {
      display: grid;
      grid-template: auto / 1fr;
      gap: 20px;
      min-width: 570px;
   }
}


/* TODO Группа кнопок/ссылок в popup */
.ui-popup__btns {
   margin-top: 80px;
   display: grid;
   grid-template: auto / repeat(auto-fill, minmax(230px, 1fr));
   column-gap: 20px;
   row-gap: 10px;

   &.links {
      grid-template: auto / max-content 1fr;
   }
}

@container uiPopupContainer (max-width: 550px) {
   .ui-popup__btns, .ui-popup__btns.links {
      margin: 80px auto 0 auto;
      grid-template: auto / 1fr;
      max-width: 350px;

      .ui-move-link {
         justify-self: center;
      }
   }

   .ui-popup__btns.links {
      row-gap: 15px;
   }
}
