<form action="" class="ui-form form_review form_grid" id="form-review">
   <div class="form-head">
      <div class="popup-title-wrap">
         <h3 class="popup-title">Рейтинг</h3>
         <p class="popup-text">Укажите рейтинг от 1 до 5 (можно использовать десятичные значения)</p>
      </div>
      
      <div class="review-rating-wrap">
         @@include('../../ui/ui-star-rating/ui-star-rating-form/ui-star-rating-form.html')
         <div class="ui-form-item">
            <input type="text" name="rating" inputmode="numeric" autocomplete="off" placeholder="4.0" value="4.0" class="ui-input input_rating">
         </div>
      </div>
   </div>

   <div class="form-fields">
      <div class="ui-form-item">
         <input type="email" name="user_subscribe" inputmode="email" autocomplete="email" placeholder="Email..." class="ui-input_popup dark_theme">
         <span class="error-message"></span>
      </div>
   
      <div class="ui-form-item">
         <input type="email" name="user_subscribe" inputmode="email" autocomplete="email" placeholder="Email..." class="ui-input_popup dark_theme">
         <span class="error-message"></span>
      </div>
   
      <div class="ui-form-item full-width">
         <textarea name="user_review" placeholder="Отзыв" class="ui-input_popup ui-textarea dark_theme"></textarea>
         <span class="error-message"></span>
      </div>
   
      <div class="ui-form-item full-width">
         @@include('../../ui/ui-input-file/ui-input-file.html')
      </div>
   </div>

   <div class="form-submit">
      @@include('../../ui/ui-button/ui-btn-icon/ui-button-icon.html', {
         "text": "Оствавить отзыв",
         "className": "btn_i_action",
         "classNameIcon": "arrow_up_right_long"
      })

      <p class="form-submit__text">Конфиденциальность введенных данных гарантируется</p>
   </div>
</form>