<form action="" class="ui-form" id="form-send-review">
   <div class="form-head">
      <div class="ui-popup__title-wrap">
         <h3 class="ui-popup__title title_part-of-block ">Рейтинг</h3>
         <p class="text">Укажите рейтинг от 1 до 5 (можно использовать десятичные значения)</p>
      </div>
      
      <div class="review-rating-wrap">
         @@include('../../ui/ui-star-rating/ui-star-rating-form.html', { "className": "" })
      </div>
   </div>

   <div class="form-fields three-fields">
      <div class="ui-form-item">
         <input type="text" name="user_name" inputmode="text" autocomplete="name" placeholder="Имя" class="ui-input_popup ">
         <span class="error-message"></span>
      </div>
   
      <div class="ui-form-item">
         <input type="email" name="user_email" inputmode="email" autocomplete="email" placeholder="Email" class="ui-input_popup ">
         <span class="error-message"></span>
      </div>
   
      <div class="ui-form-item full-width">
         <textarea name="user_review" placeholder="Отзыв" class="ui-textarea theme_dark"></textarea>
         <span class="error-message"></span>
      </div>
   
      <div class="ui-form-item full-width">
         @@include('../../ui/ui-input-file/ui-input-file.html')
      </div>

      <div class="ui-form-submit">
         @@include('../../ui/ui-button/ui-btn/ui-button.html', {
            "text": "Оставить отзыв",
            "className": "btn_primary-action",
            "type": "submit"
         })
   
         <p class="ui-form-submit__text">Конфиденциальность введенных данных гарантируется</p>
      </div>
   </div>
</form>