<form action="" class="ui-form form_review" id="form-review">
   <div class="popup-head">
      <div class="popup-title-wrap">
         <h3 class="popup-title">Рейтинг</h3>
         <p class="popup-text">Укажите рейтинг от 1 до 5 (можно использовать десятичные значения)</p>
      </div>
      
      <div class="review-rating-wrap">
         @@include('../../ui/ui-star-rating/ui-star-rating.html')
         <div class="ui-form-item">
            <input type="text" name="rating" inputmode="numeric" autocomplete="off" placeholder="4.0" value="4.0" class="ui-input input_rating">
         </div>
      </div>
   </div>

   @@include('../../ui/ui-input-file/ui-input-file.html')

   @@include('../../ui/ui-button/ui-btn-icon/ui-button-icon.html', {
      "text": "Оствавить отзыв",
      "className": "btn_i_primary btn_i_action",
      "classNameIcon": "arrow_up_right_long"
   })
</form>