@import '../../ui/ui-input-file/ui-input-file';

#form-send-review {
   .ui-popup__title {
      margin-bottom: 10px;
   }

   .review-rating-wrap {
      .ui-form-item {
         display: flex;
         justify-content: flex-end;
      }
   }
   
   .form-head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px;
   
      .ui-popup__title-wrap {
         .text {
            margin-top: 10px;
            font-size: 15px;
            font-weight: 300;
            line-height: 110%;
            color: var(--text_additional);
            max-width: 320px;
         }
      }
   }
}


@include media (max-width, 550px) {
   #form-send-review {
      .form-head {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 25px;
      }

      .ui-popup__title, .ui-popup__title-wrap .text {
         text-align: center;
      }
   }
}