$checkoxFilterSize: 23px;
$checkoxSize: 20px;

.ui-checkbox {
   position: relative;

   &__input {
      @extend %visuallyHidden;
   }

   &__custom {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: $checkoxSize;
      height: $checkoxSize;
      display: inline-block;
      background: transparent;
      border-radius: var(--xsRd);
      border: 1px solid var(--text_additional);
      overflow: hidden;
      cursor: pointer;
      transition: all .2s ease;

      &:after {
         content: '\e90c';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -140%);
         font-family: var(--icon_font);
         font-size: 14px;
         color: var(--light);
         opacity: 0;
         visibility: hidden;
         transition: all .3s ease;
      }
   }

   &__name {
      padding-left: calc(#{$checkoxSize} + var(--small_btn_padding));
      font-size: 16px;
      font-weight: 300;
      line-height: 100%;
      color: var(--text_additional);
      display: flex;
      user-select: none;
      cursor: pointer;
      transition: all .2s ease;
   }

   &__input:checked + &__custom {
      border-color: var(--action);
      background: var(--action);

      &:after {
         opacity: 1;
         visibility: visible;
         transform: translate(-50%, -50%);
      }
   }

   &__input:checked ~ &__name {
      color: var(--light);
   }

   /* USE filter */
   &.checkbox_filter  {
      .ui-checkbox__custom {
         width: $checkoxFilterSize;
         height: $checkoxFilterSize;
      }

      .ui-checkbox__name {
         padding-left: calc(#{$checkoxFilterSize} + var(--small_tabs_padding));
         font-size: 17px;
         line-height: 100%;
         align-items: center;
         justify-content: space-between;
         gap: var(--small_tabs_padding);

         .value {
            color: var(--text_selected_on_dark);
            transition: inherit;
         }
   
         .count {
            color: var(--text_additional);
            transition: inherit;
         }
      }

      .ui-checkbox__input:checked ~ .ui-checkbox__name {
         .value, .count {
            color: var(--light);
         }
   
         .value {
            font-weight: 500;
         }
      }
   }
}