@mixin buttonIcon (
   $paddingLeft: 20px,
   $gap: 20px,
   $color: var(--light),
   $bg: var(--dark),
   $iconSize: 41px,
   $iconBg: var(--action),
   $iconFSize: 20px,
   $iconColor: var(--light),
   $transition: all .2s ease,
   $freeWidth: false,
   $theme: dark,
   $type: primary
) {
   padding: 2px 2px 2px $paddingLeft;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: $gap;
   font-family: inherit;
   font-size: 17px;
   font-weight: 400;
   line-height: 100%;
   color: $color;
   background: $bg;
   border-radius: var(--defaultRd);
   transition: $transition;

   .icon {
      width: $iconSize;
      height: $iconSize;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $iconBg;
      border-radius: var(--circleRd);
      transition: $transition;

      i {
         font-size: $iconFSize;
         color: $iconColor;
         transition: $transition;
      }
   }

   @if $type == primary {
      $paddingLeft: 20px;
      $gap: 20px;
      $fSize: 18px;
      $iconSize: 41px;
      $iconFSize: 20px;

      padding: 2px 2px 2px $paddingLeft;
      gap: $gap;
      font-size: $fSize;

      .icon {
         width: $iconSize;
         height: $iconSize;

         i {
            font-size: $iconFSize;
         }
      }

   } @else if $type == ui {
      $paddingLeft: 15px;
      $gap: 15px;
      $fSize: 17px;
      $iconSize: 37px;
      $iconFSize: 20px;

      padding: 2px 2px 2px $paddingLeft;
      gap: $gap;
      font-size: $fSize;

      .icon {
         width: $iconSize;
         height: $iconSize;

         i {
            font-size: $iconFSize;
         }
      }

   } @else {
      @error "Такого типа кнопки с иконкой не существует #{$type}.";
   }

   @if $theme == dark {
      $color: var(--light);
      $bg: var(--dark);
      $iconColor: var(--light);
      $iconBg: var(--action);

      color: $color;
      background: var(--bg);

      .icon {
         background: $iconBg;

         i {
            color: $iconColor;
         }
      }

      &:hover {
         background: var(--action);

         .icon {
            background: var(--dark);
         }
      }

   } @else if $theme == light {
      $color: var(--dark);
      $bg: var(--separating_contrast);
      $iconColor: var(--light);
      $iconBg: var(--dark);

      color: $color;
      background: $bg;

      .icon {
         background: $iconBg;

         i {
            color: $iconColor;
         }
      }

      &:hover {
         background: var(--separating);

         .icon {
            background: var(--action);

            i {
               color: var(--light);
            }
         }
      }

   } @else if $theme == action {
      $color: var(--light);
      $bg: var(--action);
      $iconColor: var(--light);
      $iconBg: var(--dark);

      color: $color;
      background: var(--bg);

      .icon {
         background: $iconBg;

         i {
            color: $iconColor;
         }
      }

      &:hover {
         background: var(--dark);
         color: var(--light);

         .icon {
            background: var(--action);

            i {
               color: var(--light);
            }
         }
      }

   } @else if $theme == disabled {
      $color: var(--text_additional);
      $bg: var(--separating);
      $iconColor: var(--text_additional);
      $iconBg: var(--separating_contrast);

      color: $color;
      background: var(--bg);
      cursor: none;

      .icon {
         background: $iconBg;

         i {
            color: $iconColor;
         }
      }
   } @else {
      @error "Такого темы кнопки с иконкой не существует #{$theme}.";
   }

   @if $freeWidth {
      max-width: $maxWidth;
      width: 100%;
   }
}

.ui-btn-icon {
   @include buttonIcon(
      $type: ui,
      $theme: light
   )
}

.btn_i_helper {
   &.btn_more {
      margin: 50px auto 0 auto;
      @include buttonIcon(
         $type: ui,
         $theme: light
      );
   }
}