.ui-move-link {
   display: flex;
   align-items: center;
   gap: 15px;
   width: max-content;
   transition: all .3s ease;

   span {
      padding: 3px 0;
      font-size: 17px;
      font-weight: 400;
      line-height: 100%;
      color: var(--light);
      position: relative;
      white-space: nowrap;
      transition: background-size .2s;
   }

   &:after {
      content: '\e905';
      font-family: var(--icon_font);
      font-size: 14px;
      color: var(--light);
      display: block;
      transition: inherit;
   }

   &:hover {
      &:after {
         translate: 3px;
         color: var(--action);
      }
   }

   &.small {
      span {
         padding: 2px 0;
         font-size: 15px;
      }

      &:after {
         font-size: 13px;
      }
   }

   &.dark {
      span, &:after {
         color: var(--dark);
      }

      &:hover {
         &:after {
            color: var(--action);
         }
      }
   }
}