#popup-quickview {
   .ui-popup__container {
      padding: 0;
      max-width: 980px;
      display: grid;
      grid-template: auto / 330px 1fr;
      transform: translateX(980px);
   }

   &.active {
      .ui-popup__container {
         transform: none;
      }

      .ui-popup__images-wrap {
         .ui-popup__images {
            .img {
               $j: 0.5s;

               @for $i from 1 through 20 {
                  $j: $j + 0.1s;
                  &:nth-child(#{$i}) {
                     opacity: 1;
                     visibility: visible;
                     transform: none;
                     transition: 
                        transform .2s ease $j, 
                        opacity .2s ease $j,
                        visibility .2s ease $j,
                        background-color .2s ease;
                  }
               }
            }
         }
      }
   }

   /* IMPORTANT Стили кнопки закрытия */
   .ui-close {
      z-index: 2;
   }

   /* TODO Изображения */
   .ui-popup__images-wrap {
      .ui-popup__images {
         .swiper-wrapper {
            height: auto;
            display: block;
         }

         .img {
            background: var(--ui_darker);
            max-width: 100%;
            position: relative;
            aspect-ratio: 370 / 300;
            transition: 
               transform .2s ease, 
               opacity .2s ease,
               visibility .2s ease,
               background-color .2s ease;

            .btn_image-preview {
               width: 35px;
               height: 35px;
               background: rgba(144, 149, 162, .6);
               border-radius: var(--circleRd);
               position: absolute;
               top: 15px;
               right: 15px;
               display: flex;
               align-items: center;
               justify-content: center;
               opacity: 0;
               visibility: hidden;
               transform: translateY(10px);
               transition: 
                  opacity .3s ease,
                  visibility .3s ease,
                  transform .3s ease,
                  background-color .2s ease;

               i {
                  font-size: 15px;
                  color: var(--light);
                  transition: all .2s ease;
               }

               &:hover {
                  background: var(--dark);
                  
                  i {
                     color: var(--action);
                  }
               }
            }

            &:hover {
               .btn_image-preview {
                  opacity: 1;
                  visibility: visible;
                  transform: none;
               }
            }
         }
      }
   }
}

@include media (max-width, 1000px) {
   #popup-quickview {
      .ui-close {
         left: 20px;
      }
   }
}

@include media (max-width, 830px) {
   #popup-quickview {
      .ui-close {
         top: 15px;
      }

      .ui-popup__container {
         grid-template: auto / 1fr;
         max-width: var(--fade_on_the_side_width);
      }

      .ui-popup__content-wrap {
         $paddingX: clamp(var(--default_padding), 5cqi, var(--fade_on_the_side_padding));
         
         padding: 40px $paddingX 30px $paddingX; 
         order: 1;
      }

      .ui-popup__images-wrap {
         padding: 0;
         order: 1;

         .ui-popup__images {
            padding: 0;
            position: static;
            display: grid;
            grid-template: auto / minmax(200px, 1fr);
            gap: var(--small_btn_padding);

            .swiper-wrapper {
               height: 100%;
               display: flex;
            }

            .img {
               border-radius: 0;
            }
   
            .img:not(:last-child) {
               margin-bottom: 0;
            }
         }
      }
   }
}