.main-slide {
   width: 100%;
   border-radius: var(--defaultRd);
   container-type: inline-size;
   container-name: main-slide;
   position: relative;

   .ui-container {
      padding: 0 40px;
      max-width: 1600px;
      position: relative;
   }
   
   .action-wrap {
      display: flex;
      align-items: center;
      gap: 30px; 
   }
}

#main-slide-1 {
   // background: linear-gradient(100deg, #9F4948 0.38%, #C15958 51.62%, #341112 99.76%);
   position: relative;
   // height: 650px;
   // overflow: hidden;
   
   img {
      width: 100%;
   }

   .main-slide__content {
      padding-top: 95px;
      padding-bottom: 141px;
      position: relative;
      z-index: 1;
   }

   .text-accent {
      margin-bottom: 31px;
      font-size: 30px;
      font-style: oblique;
      font-weight: 200;
      line-height: 100%;
      color: var(--light);
      max-width: 400px;
   }

  

   .decor-ui-text {
      font-size: 15cqi;
      font-weight: 700;
      line-height: 75%;
      color: rgba(255, 255, 255, 0.03);
      text-align: right;
      text-transform: uppercase;
      position: absolute;
      top: 50px;
      right: -20px;
      z-index: 0;
   }

   .hero-slide-img {
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      // right: 11%;
      // width: clamp(400px, 28cqi, 470px);
      // height: auto;
      // z-index: 1;
      // filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.30));
   }

   // @include media (max-width, 1580px) {
   //    .hero-slide-img {
   //       right: 7cqi;
   //    }
   // }

   // @include media (max-width, 1330px) {
   //    .title-wrap {
   //       max-width: 45cqi;
   //       .title {
   //          font-size: 21cqi;
   //       }
   //    }

   //    .hero-slide-img {
   //       width: clamp(300px,33cqi,470px);
   //    }
   // }
}