.header-user-menu {
   padding: var(--header_user_menu_gutter);
   border-radius: var(--lgRd);
   width: 400px;
   background: var(--light);
   box-shadow: var(--header_user_menu_shadow);
   position: absolute;
   right: 0;
   top: 107%;
   z-index: 2;
   opacity: 0;
   visibility: hidden;
   transform: translateY(5px);
   transition: all .3s ease;

   &.active {
      opacity: 1;
      visibility: visible;
      transform: none;
   }

   &__item {
      &:not(:first-child) {
         margin-top: var(--header_user_menu_gutter);
         padding-top: var(--header_user_menu_gutter);
         border-top: 1px solid var(--border);
      }
   }

   .user-info {
      display: flex;
      align-items: center;
      gap: 15px;
      overflow: hidden;

      &__photo {
         width: 64px;
         height: 64px;
         flex: 0 0 64px;
         border-radius: var(--circleRd);
         overflow: hidden;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      .user-name {
         padding-bottom: 3px;
         font-size: 25px;
         font-weight: 500;
         line-height: 100%;
         color: var(--dark);
         max-width: 260px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }

      .user-email {
         font-size: 17px;
         font-weight: 300;
         line-height: 100%;
         color: var(--text_additional);
         max-width: 260px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }
   }

   .user-menu {
      display: grid;
      grid-template: auto / 1fr;
      gap: 15px;
   }

   .user-menu__item {
      display: flex;
      align-items: center;
      gap: 25px;
      width: max-content;

      .child {
         padding: 3px 0;
         font-size: 20px;
         font-weight: 300;
         line-height: 100%;
         color: var(--dark);
      }

      i {
         font-size: 21px;
         color: var(--ui_dark);
         transition: all .2s ease;
      }

      &:hover {
         .child, i {
            color: var(--action);
         }
      }
   }

   .user-nav {
      .user-menu__item {
         .child {
            font-weight: 400;
         }
      }

      .btn_user-menu {
         margin-top: 20px;
      }
   }

   @include media (max-width, 440px) {
      width: 330px;
   }

   @include media (max-width, 360px) {
      padding: var(--header_user_menu_gutter) 20px;
      width: 245px;

      .user-info {
         .user-name, .user-email {
            max-width: 130px;
         }
      }
   }
}