// TODO опция (inpit:radio) в fieldset
.product-option {
   position: relative;
   transition: all .2s ease;

   &__custom {
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 41px;
      border-radius: var(--defaultRd);
      cursor: pointer;
      transition: inherit;

      &__name {
         font-size: 15px;
         font-weight: 400;
         line-height: 100%;
         white-space: nowrap;
         transition: inherit;
      }  
   } 

   &__input:disabled ~ &__custom {
      cursor: not-allowed;
   }
   
   // TODO Color option
   &.color_option {

      .product-option__custom {
         padding: 0;
         width: 34px;
         height: 34px;
         border-radius: var(--circleRd);
         border: none;
         outline: 1px solid transparent;
      }

      .product-option__input:checked ~ .product-option__custom { 
         width: 34px;
         height: 34px;
         outline-offset: 3px;
      }

      .product-option__input:disabled ~ .product-option__custom {
         opacity: .1;
      }
   }

   &:not(:has( 
      .product-option__input:checked, 
      .product-option__input:disabled )) 
      {
      &:hover {
         .product-option__custom {
            transform: translateY(-2px);
         }
      }
   }
}


// TODO форма с опциями товара в product-page и popup-quickview
.product-info__options {
   margin-top: 40px;
   padding-top: 40px;
   border-top: 1px solid;

   // TODO Список опций (память, ssd и т.д)
   .product-options {
      display: grid;
      grid-template: auto / 110px 1fr;
      gap: 30px;

      &:not(:last-child) {
         margin-bottom: 25px;
      }

      &__title {
         margin-top: 10px;
         font-size: 17px;
         font-weight: 400;
         line-height: 100%;

         .color-name {
            font-weight: 300;
            color: var(--text_additional);
         }
      }

      &__list {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         gap: 10px;
      }

      &.color_options {
         grid-template: auto / 1fr;
         gap: 15px;

         .product-options__title {
            margin-top: 0;
         }
      }
   }

   // TODO Кнопки + количество
   .ui-form-submit {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid;

      &__container {
         display: grid;
         // grid-template: auto / repeat(auto-fit, minmax(185px, 1fr));
         column-gap: 10px;
         row-gap: 15px;
      }

      .submit_item {
         display: flex;

         &:nth-child(3),
         &:nth-child(4) {
            grid-column: 1 / 3;
            width: 100%;
            justify-self: center;
         }

         &:nth-child(4) {
            margin-top: 20px;
            width: max-content;
         }
      }
   }


   // ADDITIONAL Для product-options на странице товара
   &.product_page {
      border-color: var(--border);

      .product-options {
         .product-options__title {
            color: var(--dark);
         }
      }

      .product-option {
         .product-option__custom {
            background: var(--separating);

            &__name {
               color: var(--dark);
            }
         }

         .product-option__input:checked ~ .product-option__custom {
            background: var(--dark);
      
            .product-option__custom__name {
               color: var(--light);
            }
            
         }
      
         .product-option__input:disabled ~ .product-option__custom {
            background: transparent;
      
            .product-option__custom__name {
               color: var(--border);
            }
         }

         &.color_option {
            .product-option__input:checked ~ .product-option__custom {
               border: none;
               outline-color: var(--dark);
            }
         }
      }

      .ui-form-submit {
         border-color: var(--border);

         .ui-form-submit__container {
            max-width: 500px;
            width: 100%;
         }
      }
   }

   
   // ADDITIONAL Для product-options в popup-quickview
   &.quickview {
      border-color: var(--ui_dark);

      .product-options {
         .product-options__title {
            color: var(--light);
         }
      }

      .product-option {
         .product-option__custom {
            background: var(--ui_dark);
            border: 1px solid transparent;

            &__name {
               color: var(--text_selected_on_dark);
            }
         }

         .product-option__input:checked ~ .product-option__custom {
            background: transparent;
            border-color: var(--action);
      
            .product-option__custom__name {
               color: var(--light);
            }
            
         }
      
         .product-option__input:disabled ~ .product-option__custom {
            background: transparent;
      
            .product-option__custom__name {
               color: var(--border_dark);
            }
         }

         &.color_option {
            .product-option__input:checked ~ .product-option__custom {
               border: none;
               outline-color: var(--action);
            }
         }
      }

      .ui-form-submit {
         border-color: var(--ui_dark);
      }
   }
}

@include media (max-width, 530px) {
   
}

@container productInfo (max-width: 530px) {
   .product-info__options {
      .product-options {
         grid-template: auto / 1fr;
         gap: 15px;
      }

      .ui-form-submit {
         &__container {
            grid-template: auto / 1fr;
            row-gap: 7px;
         }

         .submit_item:nth-child(3), 
         .submit_item:nth-child(4) {
            grid-column: 1 / 2;
         }
      } 
   }
}



