.product-option-name {
   font-size: 18px;
   font-weight: 300;
   line-height: 100%;
   color: var(--text_selected_on_dark);
}

.product-info.page-product {
   .product-option-name {
      font-size: 17px;
      font-weight: 400;
      color: var(--dark);
   }
}

.product-info__options {
   .product-options {
      display: grid;
      grid-template: auto / 110px 1fr;
      gap: 15px;

      &:not(:last-child) {
         margin-bottom: 30px;
      }

      &__title {
         margin-top: 10px;
         align-self: start;
      }

      &__list {
         display: flex;
         flex-wrap: wrap;
         gap: 12px;
      }
   }
}

.product-option {
   position: relative;
   transition: all .2s ease;

   &__custom {
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 39px;
      background: var(--ui_dark);
      border-radius: var(--defaultRd);
      border: 1px solid transparent;
      cursor: pointer;
      transition: inherit;

      &__name {
         font-size: 15px;
         font-weight: 400;
         line-height: 100%;
         color: var(--text_selected_on_dark);
         transition: inherit;
      }  
   } 

   &__input:checked ~ &__custom {
      background: transparent;
      border-color: var(--action);

      .product-option__custom__name {
         color: var(--light);
      }
      
   }

   &__input:disabled ~ &__custom {
      background: transparent;
      cursor: not-allowed;

      .product-option__custom__name {
         color: var(--border_dark);
      }
   }
   
   // TODO Color option
   &.color_option {

      .product-option__custom {
         padding: 0;
         border-radius: var(--circleRd);
         border: none;
         outline: 1px solid transparent;
      }

      .product-option__input:checked ~ .product-option__custom {
         outline-color: var(--action);
         outline-offset: 3px;
      }

      .product-option__input:disabled ~ .product-option__custom {
         opacity: .1;
      }
   }

   &:not(:has( 
      .product-option__input:checked, 
      .product-option__input:disabled )) 
      {
      &:hover {
         .product-option__custom {
            transform: translateY(-2px);
         }
      }
   }
}


// TODO Стили для product-info на странице товара v
.product-info__options.page-product {

   .product-option {
      .product-option__custom {
         background: var(--separating);
         height: 41px;

         &__name {
            font-size: 16px;
            font-weight: 400;
            color: var(--dark);
         }
      }

      .product-option__input:checked ~ .product-option__custom {
         background: var(--action_slow);
         border-color: var(--action);
   
         .product-option__custom__name {
            color: var(--dark);
         }
      }
   
      .product-option__input:disabled ~ .product-option__custom {
         background: transparent;
         cursor: not-allowed;
   
         .product-option__custom__name {
            color: var(--border);
         }
      }

      &.color_option {
         .product-option__custom {
            width: 35px;
            height: 35px;
         }
      }
   }
}


@container uiPopupContainer (max-width: 530px) {
   .product-info__options {
      .product-options {
         grid-template: auto / 1fr;
         gap: 15px;

         &__title {
            font-size: 20px;
         }
      }
   }

   .product-option-name {
      font-size: 20px;
   }
}



