@import '../../hidden/fade-on-side/fade-on-side';

$allGap: clamp(30px, 10cqi, 47px);
$padingXMenu: clamp(var(--default_padding), 5cqi, 40px);
$transition: background-size $transitionDuration, color $transitionDuration;  
$paddingMenu: 110px $padingXMenu 60px $padingXMenu;

@mixin hasChildren (
   $content: '\e907',
   $fSize: 30px,
   $color: var(--light),
) {
   position: relative;

   &:after {
      content: $content;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      font-family: var(--icon_font);
      font-size: $fSize;
      color: $color;
      transition: $transitionDuration;
   }

   &:hover {
      &:after {
         color: var(--action);
      }
   }
}

@mixin mobileMenuListItem (
   $margin: 7px 0,
   $padding: 3px 0,
   $fSize: 40px,
   $fWeight: 500,
   $lHeight: 115%,
   $color: var(--light),
   $hoverColor: var(--action),
   $trans: $transition,
   $hasChild: true,
) {
   @if $hasChild {
      @include hoverLinks( $hoverChild: true );

      .child {
         margin: $margin;
         padding: $padding;
         font-size: $fSize;
         font-weight: $fWeight;
         line-height: $lHeight;
         color: $color;
         cursor: pointer;
         transition: $trans;               
      }

      &:hover {
         .child {
            color: $hoverColor;
         }
      }

   } @else {
      @include hoverLinks( $hoverChild: false );

      margin: $margin;
      padding: $padding;
      font-size: $fSize;
      font-weight: $fWeight;
      line-height: $lHeight;
      color: $color;
      cursor: pointer;
      transition: $trans; 

      &:hover {
         .child {
            color: $hoverColor;
         }
      }
   }
}

.parent-item.has-children {
   @include hasChildren(
      $fSize: clamp(18px, 8cqi, 30px)
   );
}

.child-item.has-children {
   @include hasChildren(
      $content: '\e901',
      $fSize: 20px
   );
}

.back-item.has-children {
   @include hasChildren(
      $content: '\e903',
      $fSize: clamp(18px, 8cqi, 30px),
   );
}

%gridTemplateMenu {
   display: grid;
   grid-template: auto / 1fr;
   gap: $allGap;
}


.mobile-menu {
   padding: $paddingMenu;

   &__inside {
      width: 100%;
      height: max-content;
      transition: all .3s ease .2s;

      &.child_list {
         padding: $paddingMenu;
         position: absolute;
         top: 0;
         left: 0;
      }

      &.hidden {
         opacity: 0;
         visibility: hidden;
         transform: translateY(15px);
         transition-delay: 0s;
      }
   }

   .parent-item, .back-item {
      padding: clamp(4.5px, 3cqi, 7px) 0;

      @include mobileMenuListItem (
         $margin: clamp(4.5px, 3cqi, 7px) 0,
         $fSize: clamp(24px, 10.5cqi, 40px)
      );
   }

   .back-item {
      margin-bottom: $allGap;
   }

   .child-item {
      padding: clamp(5px,3cqi,9.5px) 0;

      @include mobileMenuListItem(
         $margin: clamp(5px, 3cqi, 9.5px) 0,
         $padding: 2px 0,
         $fSize: clamp(18px, 6.5cqi, 25px),
         $fWeight: 300,
      );
   }

   .gap-item {
      margin-top: $allGap;
      padding-top: $allGap;
      border-top: 1px solid var(--ui_dark);

      &.child-item-wrap {
         @extend %gridTemplateMenu;
      }
   }

   .additional-item {
      padding: clamp(1.5px, 1cqi, 4.5px) 0;

      @include mobileMenuListItem(
         $margin: clamp(1.5px, 1cqi, 4.5px) 0,
         $padding: 3px 0,
         $fSize: clamp(15px, 7cqi, 20px),
         $fWeight: 300,
         $color: var(--text_additional),
         $hoverColor: var(--light)
      );
   }

   .additional-list {
      display: flex;
      flex-direction: column;
   }

   .contact-item-wrap {
      .phone {
         font-size: clamp(30px, 10cqi, 35px);
         font-weight: 400;
         line-height: 100%;
         color: var(--light);
         transition: all $transitionDuration;

         &:hover {
            color: var(--action);
         }
      }

      .contact-info {
         margin-top: 30px;
         margin-bottom: $allGap;
         display: flex;
         flex-direction: column;

         &__item {
            display: inline-flex;
            align-items: center;

            span {
               padding: 2px 0;
               font-size: clamp(16px, 5cqi, 18px);
               font-weight: 300;
               line-height: 100%;
               color: var(--light);
            }

            i {
               margin-right: clamp(7px, 3cqi, 15px);
               font-size: clamp(15px, 7cqi, 19px);
               color: var(--action);
            }

            &:not(:last-child) {
               margin-bottom: var(--small_tabs_padding);
            }
         }

         a.contact-info__item {
            cursor: pointer;
            @include hoverLinks( $hoverChild: true );

            span {
               transition: $transition;
            }
         }
      }
   }
}
