.category-list {
   display: grid;
   grid-template: auto / 1fr 1fr 1fr;
   gap: 20px;

   .category-card:nth-child(1),
   .category-card:nth-child(4) {
      grid-column: span 2;
   }
}

@include media (max-width, 930px) {
   .category-list {
      grid-template: auto / 1fr 1fr;

      .category-card:nth-child(1),
      .category-card:nth-child(4) {
         grid-column: auto;
      }
   }
}

@include media (max-width, 650px) {
   .category-list {
      grid-template: auto / 1fr;

   }
}