<div class="category-list">
   @@loop('../category-card/category-card.html', [
      {
         "img": "../../img/optimized/categories/laptop_full_1.5x.webp",
         "name": "Ноутбуки <br> и Компьютеры",
         "description": "Смартфоны, флагманские новинки и еще много интересного",
         "className": "laptop card_main"
      },
      {
         "img": "../../img/optimized/categories/complect_full_1.5x.webp",
         "name": "Комплектующие",
         "description": "Смартфоны, флагманские новинки и еще много интересного",
         "className": "complect card_main"
      },
      {
         "img": "../../img/optimized/categories/accessories_full_1.5x.webp",
         "name": "Аксессуары",
         "description": "Смартфоны, флагманские новинки и еще много интересного",
         "className": "accessories card_main"
      },
      {
         "img": "../../img/optimized/categories/smartphone_full_1.5x.webp",
         "name": "Смартфоны",
         "description": "Смартфоны, флагманские новинки и еще много интересного",
         "className": "smartphone card_main"
      },
   ])
</div>