<div class="category-list">
   @@loop('../category-card/category-card.html', [
      {
         "className": "lg",
         "img": "../../img/optimized/categories/laptop.webp",
         "name": "Ноутбуки и ПК"
      },
      {
         "className": "",
         "img": "../../img/optimized/categories/complact.webp",
         "name": "Комплектующие"
      },
      {
         "className": "",
         "img": "../../img/optimized/categories/access.webp",
         "name": "Аксессуары"
      },
      {
         "className": "lg-reverse",
         "img": "../../img/optimized/categories/smartphones.webp",
         "name": "Смартфоны"
      },
   ])
</div>