<div class="category-list">
   @@loop('../category-card/category-card.html', [
      {
         "img": "../../img/optimized/categories/laptop.webp",
         "name": "Ноутбуки <br> и Компьютеры",
         "description": "Смартфоны, флагманские новинки и еще много интересного",
         "className": "laptop"
      },
      {
         "img": "../../img/optimized/categories/complect.webp",
         "name": "Комплектующие",
         "description": "Смартфоны, флагманские новинки и еще много интересного",
         "className": "complect"
      },
      {
         "img": "../../img/optimized/categories/accessories.webp",
         "name": "Аксессуары",
         "description": "Смартфоны, флагманские новинки и еще много интересного",
         "className": "accessories"
      },
      {
         "img": "../../img/optimized/categories/smartphone.webp",
         "name": "Смартфоны",
         "description": "Смартфоны, флагманские новинки и еще много интересного",
         "className": "smartphone"
      },
   ])
</div>