<div class="grid-item">
   <div class="ui-form__item">
      <input type="text" name="user_country" inputmode="text" autocomplete="country-name" placeholder="Страна" value="Россия" readonly class="ui-input">
      <span class="error-message"></span>
   </div>
   
   <div class="ui-form__item">
      <input type="text" name="user_city" inputmode="text" autocomplete="address-level2" placeholder="Город" class="ui-input">
      <span class="error-message"></span>
   </div>
</div>

<div class="ui-form__item w100">
   <input type="text" name="user_address" inputmode="text" autocomplete="shipping street-address" placeholder="Адрес доставки" class="ui-input">
   <span class="error-message"></span>
</div>