<article class="post-card card">
   <div class="post-inside">
      <div class="quick-nav">

      </div>

      <a href="#" class="content">
         <div class="category-post-list">
            <div class="category-post card">Новости</div>
            <div class="category-post card">Starship</div>
            <div class="category-post card">Илон Маск</div>
         </div>
   
         <h3 class="title">Илон Маск запускает «Starship» — крупнейшую ракету в истории</h3>
         <div class="post-controls">
            <time class="post-controls__item">Апрель 17, 2023</time>
            <div class="post-controls__item"><i class="i-comment"></i> <span>2 234</span></div>
            <div class="post-controls__item"><i class="i-like"></i> <span>2 234</span></div>
         </div>
      </a>

      <img src="../../../img/posts/post_1.webp" alt="" class="img">
   </div>
</article>