<div class="subcategory-list">
   @@loop('./subcategory-card.html', [
      {
         "name": "Процессоры",
         "img": "../../img/subcategory/subcategory_1.webp"
      },
      {
         "name": "Видеокарты",
         "img": "../../img/subcategory/subcategory_2.webp"
      },
      {
         "name": "Системы охлаждения",
         "img": "../../img/subcategory/subcategory_3.webp"
      },
      {
         "name": "Жесткие диски",
         "img": "../../img/subcategory/subcategory_4.webp"
      },
      {
         "name": "SSD",
         "img": "../../img/subcategory/subcategory_5.webp"
      },
      {
         "name": "Термопасты",
         "img": "../../img/subcategory/subcategory_6.webp"
      },
   ])
</div>