<div class="subcategory-list" id="subcategory-list">
   @@loop('./subcategory-card.html', [
      {
         "name": "Супер жесткие hard диски (HDD-накопители)",
         "img": "../.././img/optimized/subcategory/iphone.webp"
      },
      {
         "name": "iPad",
         "img": "../.././img/optimized/subcategory/ipad.webp"
      },
      {
         "name": "MacBook",
         "img": "../.././img/optimized/subcategory/macbook.webp"
      },
      {
         "name": "Супер жесткие hard диски (HDD-накопители)",
         "img": "../.././img/optimized/subcategory/iphone.webp"
      },
      {
         "name": "iPad",
         "img": "../.././img/optimized/subcategory/ipad.webp"
      },
      {
         "name": "MacBook",
         "img": "../.././img/optimized/subcategory/macbook.webp"
      },
      {
         "name": "Супер жесткие hard диски (HDD-накопители)",
         "img": "../.././img/optimized/subcategory/iphone.webp"
      },
      {
         "name": "iPad",
         "img": "../.././img/optimized/subcategory/ipad.webp"
      },
      {
         "name": "MacBook",
         "img": "../.././img/optimized/subcategory/macbook.webp"
      },
      {
         "name": "Супер жесткие hard диски (HDD-накопители)",
         "img": "../.././img/optimized/subcategory/iphone.webp"
      },
      {
         "name": "iPad",
         "img": "../.././img/optimized/subcategory/ipad.webp"
      },
   ])
   <!-- @@include('./subcategory-card.html')
   @@include('./subcategory-card.html') -->
</div>