.subcategory-section {
   margin-top: var(--section_sm_gutter);
   margin-bottom: var(--section_gutter);
}

.subcategory-list {
   padding-bottom: 5px;
   // display: flex;
   display: grid;
   grid-template: auto / repeat(4, minmax(240px, 1fr));
   column-gap: clamp(10px, 1.2cqi, 20px);
   row-gap: 20px;
   width: 100%;
   overflow-x: auto;
   overflow-y: visible;

   &::-webkit-scrollbar {
      background: var(--separating);
      width: 5px;
      height: 5px;
      display: none;
   }
   
   &::-webkit-scrollbar-thumb {
      background: var(--border);
      border-radius: 50px;
      display: none;
   }

   @include media (max-width, 1080px) {
      grid-auto-columns: 240px;
      grid-auto-flow: column;
   }
}

.subcategory-card {
   container-type: inline-size;
   container-name: subcategoryCard;
   transition: all .2s ease;
   

   &__container {
      max-width: 370px;
      width: 100%;
      border-radius: 20px;
      transition: all .2s ease;
   }

   &__img {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      transition: inherit;

      img {
         max-width: 100%;
         height: auto;
         transition: inherit;
      }
   }

   &__name {
      margin-top: 15px;
      font-size: clamp(19px, 7cqi, 25px);
      font-weight: 400;
      line-height: 85%;
      color: var(--dark);
      text-align: center;
      transition: inherit;
   }

   &:hover {
      transform: translateY(-5px);

      .subcategory-card__name {
         color: var(--action);
      }
   }
}
