.ui-section-title {
   margin-bottom: 60px;
   font-size: 40px;
   font-weight: 600;
   line-height: 100%;
   color: var(--dark);
   text-wrap: balance;

   &.sm-mt {
      margin-bottom: 40px;
   }

   &.center {
      text-align: center;
   }

   &.md {
      font-size: 35px;
      font-weight: 400;
      line-height: 90%;
   }

   @include media (max-width, 830px) {
      font-size: clamp(30px, 20cqi, 40px);

      &.md {
         font-size: clamp(30px, 5cqi, 35px);
      }
   }
}

.ui-section-title-more {
   margin-bottom: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;

   .ui-section-title {
      margin-bottom: 0;
   }

   @include media (max-width, 560px) {
      flex-direction: column;
      align-items: center;

      .ui-section-title {
         text-align: center;
      }
   }
}


// NOTE Заголовок (название компонента fade-on-side)
.hidden__title {
   margin-bottom: 60px;
   font-size: 40px;
   color: var(--light);

   &.underline {
      padding-bottom: 10px;
      position: relative;

      &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 70px;
         height: 2px;
         background: var(--light);
         border-radius: var(--defaultRd);
      }
   }

   .title_fade-on-side {
      font-weight: 500;
      line-height: 110%;
   }

   .title_popup {
      font-weight: 400;
      line-height: 100%;
   }
}
