.ui-section-title {
   margin-bottom: 40px;
   font-size: 40px;
   font-weight: 600;
   line-height: 85%;
   color: var(--dark);
   text-wrap: balance;

   &.sm-mt {
      margin-bottom: 20px;
   }

   &.center {
      text-align: center;
   }

   &.md {
      font-size: 35px;
      font-weight: 500;
      line-height: 90%;
   }

   &.lg {
      font-size: 50px;
   }

   @include media (max-width, 830px) {
      font-size: clamp(30px, 9cqi, 40px);

      &.md {
         font-size: clamp(30px, 5cqi, 35px);
      }
   }
}

.ui-section-title-more {
   margin-bottom: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;

   .ui-section-title {
      margin-bottom: 0;
   }

   @include media (max-width, 560px) {
      flex-direction: column;
      align-items: center;

      .ui-section-title {
         text-align: center;
      }
   }
}



/* TODO Page title */
.ui-page-title {
   font-size: clamp(32px, 11cqi, 65px);
   font-weight: 600;
   line-height: 100%;
   color: var(--light);
   position: relative;
   z-index: 1;

   &:after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100px;
      height: 2px;
      border-radius: var(--defaultRd);
      background: var(--light);
   }

   &.title_product-page {
      font-weight: 500;
      color: var(--dark);

      &:after {
         background: var(--dark);
      }
   }
}

