<div class="header-additional">
   @@include('../../ui/ui-button/ui-circle-icon/ui-circle-icon.html', {
      "classNameIcon": "search",
      "className": "circle-icon_transparent btn_search header-icon"
   })

   @@loop('../../ui/ui-button/ui-circle-icon/ui-circle-icon-menu.html', [
      {
         "classNameIcon": "compare",
         "counter": "56",
         "className": "btn_compare header-icon "
      },
      {
         "classNameIcon": "cart",
         "counter": "56",
         "className": "btn_cart header-icon"
      }
   ])
</div>