.header-additional {
   display: flex;
   align-items: center;
   gap: var(--default_padding);

   @include media(max-width, 500px) {
      gap: 10px;

      .btn_favourites, .btn_compare {
         display: none;
      }
   }
}