<div class="header-top">
   <div class="ui-container">
      <div class="header-top__nav">
         @@include('../../ui/ui-burger/ui-burger.html')

         <nav class="top-menu" id="top-nav">
            <ul class="top-menu__list">
               <li class="top-menu__list__item basicHoverUnderline"><a class="child" href="../../../pages/page-information/page-information.html">Информация</a></li>
            </ul>
         
            <ul class="top-menu__list">
               <li class="top-menu__list__item basicHoverUnderline"><a class="child" href="../../../pages/page-contact/page-contact.html">Контакты</a></li>
            </ul>
         </nav>
      </div>

      <!-- Заглушка, пока не готовы личный кабинет и авторизация -->
      <!-- @@include('../../socials/socials.html', {
         "className": "socials_header"
      }) -->

      <!-- Когда будет готов личный кабинет -->
      @@include('../../ui/ui-button/ui-btn/ui-button.html', {
         "text": "Личный кабинет",
         "className": "btn_small-dark btn_login"
      })
   </div>
</div>