<div class="header-top">
   <div class="ui-container">
      <div class="header-top__nav">
         @@include('../../ui/ui-burger/ui-burger.html')

         <nav class="top-menu" id="top-nav">
            <ul class="top-menu__list">
               <li class="top-menu__list__item basicHoverUnderline"><a class="child" href="">Информация</a></li>
            </ul>
         
            <ul class="top-menu__list">
               <li class="top-menu__list__item basicHoverUnderline"><a class="child" href="">Контакты</a></li>
            </ul>
         </nav>
      </div>

      <!-- Заглушка, пока не готовы личный кабинет и авторизация -->
      @@include('../../socials/socials.html', {
         "className": "socials_header"
      })
   </div>
</div>