<div class="delivery-item cart_delivery">
   <div class="delivery-item__container">
      <div class="delivery-item__custom">
         <div class="delivery-details">
            <h4 class="delivery-name">Доставка круьером</h4>
            <p class="delivery-info">Пн-Вс: 09:00-20:00. <strong class="mark">В наличии. Бесплатно</strong></p>
         </div>
   
         <span class="delivery-price">16 699 ₽</span>
         <button class="btn_small-dark btn_delivery">Рассчитать</button>
      </div>
   </div>
</div>