<label class="delivery-item order_delivery">
   <div class="delivery-item__container">
      <input type="radio" name="delivery" value="Забрать круьером" class="delivery-item__input visually-hidden">
   
      <div class="delivery-item__custom">
         <div class="delivery-details">
            <h4 class="delivery-name">Доставка круьером</h4>
            <p class="delivery-info">Пн-Вс: 09:00-20:00. <strong class="mark">В наличии. Бесплатно</strong></p>
         </div>
         
         <span class="delivery-check"></span>
      </div>
   </div>
</label>