.order-wrap {
   position: sticky;
   top: 82px;
   align-self: start;
   container-name: order;
   container-type: inline-size;

   .order-item:not(.order-item.your-order) {
      padding-right: 20px;
   }

   @include media (max-width, 950px) {
      .order-item:not(.order-item.your-order) {
         padding: 0 20px;
      }
   }
}

.order-list {
   padding-right: 20px;
   padding-bottom: 10px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 10px;
   width: 100%;

   &::-webkit-scrollbar,
   &::-webkit-scrollbar-thumb {
      display: none;
   }
}

@include media (max-width, 950px) {
   .order-wrap {
      .order-item:not(.order-item.your-order) {
         padding: 0 20px;
      }
   }

   .order-list {
      padding: 0 20px;
   }
}



@container order (max-width: 690px) {
   .order-list {
      flex-direction: row;
      flex-wrap: nowrap;
      

      &:not(:has(.product-cart-order:only-child)) {
         overflow-x: auto;
         overflow-y: visible;
      }

      .product-cart-order {
         min-width: 100%;

         &:not(:only-child) {
            min-width: calc(100% - (var(--default_padding) * 2 - 20px));
         }
      }
   }
}