.filter-item {
   border-bottom: 1px solid var(--border_dark);

   &:not(:last-child) {
      margin-bottom: 25px;
      opacity: 1;
      visibility: visible;
      transition: all .5s ease;
   }

   &__title {
      margin-bottom: 30px;
      font-size: 25px;
      font-weight: 400;
      line-height: 100%;
      color: var(--light);
      width: 100%;
      position: relative;
      cursor: pointer;

      &::after {
         content: '\e91c';
         font-family: var(--icon_font);
         font-size: 20px;
         color: var(--text_selected_on_dark);
         position: absolute;
         top: 50%;
         right: 0;
         transform: translateY(-50%);
         transition: all .3s ease;
      }

      &.hide {
         &::after {
            content: '\e91f';
         }
      }
   }
}

.filter-list {
   padding: 4px 10px 4px 0;
   max-height: 250px;
   overflow-y: auto;

   &.color_list {
      padding: 6px 10px 6px 3px;
   }

   &::-webkit-scrollbar {
      background: var(--ui_dark);
      width: 4px;
      height: 4px;
   }
   
   &::-webkit-scrollbar-thumb {
      background: var(--text_additional);
      border-radius: 50px;
   }
   
   &::-webkit-scrollbar-corner {
      background: transparent;
   }

   &__item {
      cursor: pointer;

      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
}

.filter-collapse {
   margin-bottom: 40px;
   transition: all .3s ease;

   &.hide {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
      visibility: hidden;
      max-height: 0;
   }
}