@import '../forms/form-subscribe/form-subscribe';

.subscribe {
   position: relative;
   
   container-name: subscribe;
   container-type: inline-size;

   @extend %fullWidthElement;

   &__container {
      padding: 70px 0;
      background: var(--action_slow);
      position: relative;
      overflow: hidden;

      @extend %dynamicRadius40to25;
   }

   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right 15% top 50%;
   }

   &__title {
      margin-bottom: 25px;
      font-size: 50px;
      font-weight: 500;
      line-height: 100%;
      color: var(--light);
      position: relative;
      z-index: 1;
   }

   &__text {
      margin-bottom: 70px;
      font-size: clamp(20px, 5cqi, 23px);
      font-weight: 300;
      line-height: 120%;
      color: var(--light);
      max-width: 600px;
      position: relative;
      z-index: 1;
   }

   .warning-text {
      margin-top: 15px;
      margin-left: 20px;
      font-size: 16px;
      font-weight: 300;
      line-height: 110%;
      color: var(--text_additional);
      max-width: 410px;
      text-wrap: balance;
      position: relative;
      z-index: 1;

      strong {
         color: var(--light);
         cursor: pointer;
         user-select: none;
         transition: background-size .2s ease, color .2s ease;

         &:hover {
            color: var(--action);
         }
      }
   }

   @include media (max-width, 1650px)  {
      .ui-container {
         padding-left: clamp(15px, 5cqi, 60px);
      }
   }

   @container subscribe (max-width: 500px) {
      &__title {
         margin-bottom: 25px;
         font-size: clamp(33px, 12cqi, 45px);
      }

      &__text {
         margin-bottom: 50px;
      }

      .warning-text {
         margin: 10px auto 0 auto;
         font-size: 15px;
         font-weight: 400;
         text-align: center;
      }
   }
}