<!-- Module subscribe -->
<div class="subscribe">
   <div class="subscribe__container">
      <div class="ui-container">
         <h2 class="subscribe__title">Подписывайтесь</h2>
         <p class="subscribe__text">Чтобы первыми узнавать о наших новинках, событиях и акциях, а также полезных лайфхаках и новостях</p>
         
         @@include('../forms/form-subscribe/form-subscribe.html')

         <p class="warning-text">
            Подписываясь на обновления, Вы соглашаетесь с нашей <strong class="hoverLinks btn_policy">политикой конфиденциальности</strong>
         </p>
      </div>

      <img class="subscribe__bg" loading="lazy" src="../../img/subscribe/subscribe_bg.webp" alt="">
   </div>
</div>
<!-- End Module subscribe -->