<div class="ui-star-rating star-rating_form @@className">
   <div class="ui-stars">
      <label class="ui-star-form">
         <input type="radio" name="user_rating" value="5.0" class="ui-star-form__input visually-hidden">
         <i class="i-star ui-star-form__icon"></i>
      </label>
      
      <label class="ui-star-form">
         <input type="radio" name="user_rating" checked value="4.0" class="ui-star-form__input visually-hidden">
         <i class="i-star ui-star-form__icon"></i>
      </label>
   
      <label class="ui-star-form">
         <input type="radio" name="user_rating" value="3.0" class="ui-star-form__input visually-hidden">
         <i class="i-star ui-star-form__icon"></i>
      </label>
    
      <label class="ui-star-form">
         <input type="radio" name="user_rating" value="2.0" class="ui-star-form__input visually-hidden">
         <i class="i-star ui-star-form__icon"></i>
      </label>
   
      <label class="ui-star-form">
         <input type="radio" name="user_rating" value="1.0" class="ui-star-form__input visually-hidden">
         <i class="i-star ui-star-form__icon"></i>
      </label> 
   </div>

   <div class="ui-form-item">
      <input type="text" name="rating" inputmode="numeric" autocomplete="off" placeholder="4.0" value="4.0" class="ui-input input_rating">
   </div>
</div>