@import './ui-star';

.ui-star-rating {
   display: flex;

   .ui-stars {
      display: inline-flex;
      align-items: center;
      flex-flow: row-reverse;
   }

   &.star-rating_form {
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;

      .ui-stars {
         gap: 7px;
      }
   }

   &.star-rating_static {
      align-items: center;
      gap: 15px;

      .ui-stars {
         gap: 3px;
      }
   }

   .rating-value {
      font-size: 15px;
      font-weight: 300;
      line-height: 100%;
      color: var(--text_additional);
   }

   &.light {
      .rating-value {
         font-size: 17px;
         color: var(--dark);
      }
   }

   &.light_value {
      .rating-value {
         color: var(--light);
      }
   }
}

@container uiPopupContainer (max-width: 500px) {
   .ui-star-rating.star-rating_form  {
      align-items: center;
      gap: 15px;
   }
}
