.ui-dropdown {
   position: relative;
   z-index: 2;
   cursor: pointer;
   transition: all .2s ease;

   .selected {
      padding: 12px 20px 12px 15px;
      position: relative;
      transition: inherit;
      background: var(--separating_contrast);
      border-radius: var(--defaultRd);
      user-select: none;

      &:after {
         content: '\e92c';
         font-family: var(--icon_font);
         font-size: 11px;
         color: var(--dark);
         transform: rotate(-90deg);
         position: absolute;
         top: 50%;
         translate: 0 -50%;
         right: 15px;
         transition: inherit;
      }

      &__item {
         font-size: 17px;
         font-weight: 400;
         line-height: 100%;   
         color: var(--dark);
         transition: inherit;
      }
   }

   .options-wrap {
      padding: 10px 5px;
      position: absolute;
      left: 0;
      top: 110%;
      background: var(--separating);
      border-radius: var(--slRd);
      width: 100%;
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;
      transition: inherit;
      transform: translateY(10px);
   }

   .options {
      &__item {
         padding: 5px 20px;
         font-size: 17px;
         font-weight: 300;
         line-height: 100%;
         color: var(--dark);
         min-height: 40px;
         display: flex;
         align-items: center;
         transition: inherit;
         user-select: none;

         &:hover {
            background: var(--light);
         }

         &.current {
            color: var(--light);
            background: var(--dark);
         }

         &.disabled {
            color: var(--border);
         }
      }
   }

   &.active {
      .options-wrap {
         opacity: 1;
         visibility: visible;
         transform: none;
      }

      .selected:after {
         transform: rotate(90deg);
      }
   }

   // TODO Прозрачные для сортировки
   &.dropdown_sort {
      .selected {
         padding: 0;
         background: transparent;
         border-radius: 0;
         display: flex;
         align-items: center;
         gap: 15px;

         &:after {
            margin-bottom: -2px;
            position: static;
            display: block;
            translate: none;
         }

         .selected__item {
            font-size: 18px;
         }
      }

      .options {
         padding: 10px;
         top: 140%;
         background: var(--light);
         border-radius: var(--smRd);
         box-shadow: var(--light_btn_shadow);
         width: 270px;

         .options__item {
            padding: 5px 20px;
            min-height: 35px;
            border-radius: var(--xsRd);

            &:not(:last-child) {
               margin-bottom: 5px;
            }

            &:hover {
               background: var(--separating_contrast);
            }

            &.current {
               &:hover {
                  background: var(--separating_contrast);
                  color: var(--dark);
               }
            }
         }
      }

      @include media (max-width, 580px) {
         .options {
            width: 230px;
         }
      }

      @include media (max-width, 390px) {
         flex-direction: column;
         align-items: flex-start;

         .options {
            width: 210px;
         }
      }
   }

   // TODO Серые в инпутах
   &.dropdown_form {
      position: relative;
      z-index: 1;
      width: 100%;

      .selected {
         padding: 5px 20px;
         height: 50px;
         width: 100%;
         display: flex;
         align-items: center;
         background: var(--separating);
         border-radius: var(--defaultRd);

         &:after {
            right: 20px;
         }

         &__item {
            font-size: 17px;
            font-weight: 400;
         }
      }

      .options {
         padding: 5px;
         background: var(--separating);
         border-radius: var(--mdRd);
         max-height: 350px;
         overflow-y: auto;
         overflow-x: visible;

         &::-webkit-scrollbar {
            background: var(--separating);
            width: 5px;
            height: 5px;
         }
         
         &::-webkit-scrollbar-thumb {
            background: var(--border);
            border-radius: 50px;
         }
         
         &::-webkit-scrollbar-corner {
            background: transparent;
         }

         &__item {
            padding: 3px 15px;
            font-size: 15px;
            font-weight: 400;
            height: 35px;
            min-height: 35px;
            background: transparent;
            border-radius: var(--defaultRd);
            display: flex;
            align-items: center;

            &:not(:last-child) {
               margin-bottom: 3px;
            }

            &:hover {
               background: var(--separating_contrast);
            }
   
            &.current {
               color: var(--light);
               background: var(--dark);
            }
   
            &.disabled {
               color: var(--border);
               background: transparent;
            }
         }
      }

      &.dropdown_tel {
         position: absolute;
         top: 2px;
         left: 2px;
         width: auto;

         .selected {
            width: 65px;
            height: 46px;
            background: var(--separating_contrast);

            &:after {
               display: none;
            }
         }
      }

      &.dark {
         .selected {
            background: var(--ui_darker);
            
            &__item {
               color: var(--light);
            }
         }

         .options {
            background: var(--ui_dark);

            &__item {
               color: var(--light); 

               &:hover {
                  background: var(--ui_darker);
                  color: var(--light);
               }
      
               &.current {
                  color: var(--light);
                  background: var(--ui_darker);
               }
            }
         }
      }
   }
}

.dropdown-sort-wrap {
   margin-bottom: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   column-gap: 20px;
   row-gap: 15px;
}

.dropdown-sort {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 10px;
   row-gap: 5px;

   &__label {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      font-weight: 300;
      line-height: 100%;
      color: var(--dark);

      i {
         font-size: 20px;
         color: var(--dark);
      }
   }

   @include media (max-width, 370px) {
      flex-direction: column;
      align-items: flex-start;

      .options {
         width: 260px;
      }
   }
}


@include media (max-width, 385px) {
   .catalog-sort-wrap,
   .catalog-sort {
      flex-direction: column;
      align-items: flex-start;
   }
}
