<!-- Module Product info (popup-quickview) -->
<div class="product-info quickview">
   <div class="product-info__brand-wrap">
      <span class="ui-sticker sticker_sold ">Нет в наличии</span>
      <!-- <a href="../../../pages/page-brand-single/page-brand-single.html" class="product-info__brand basicHoverUnderline">
         <span class="child">Asus</span>
      </a> -->
      
      <!-- <div class="product-info__controls">
         <button class="product-controls-btn">
            <i class="i-compare"></i>
         </button>

         <button class="product-controls-btn active">
            <i class="i-heart"></i>
         </button>
      </div> -->
   </div>

   <h2 class="product-info__name">VivoBook 15 M1502IA-BQ011W</h2>

   <div class="product-info__price-wrap">
      <h3 class="product-info__price">170 990 ₽</h3>

      @@include('../../ui/ui-star-rating/ui-one-star-rating.html', {
         "className": "light"
      })
   </div>

   <div class="product-info__stickers">
      <div class="sale-block">
         <span class="sale-count sale-block__item">-10%</span>
         <span class="sale-info sale-block__item">на предзаказ</span>
      </div>
   </div>

   <!-- Опции товара + кнопки -->
   <form action="" class="product-info__options form-options quickview">
      <!-- Здесь опции товара. Подключаются в JS (product-info.js) -->

      <!-- Для товара, в наличии -->
      <!-- <div class="ui-form-submit">
         <div class="ui-form-submit__container">
            <div class="product-info__counter submit_item">
               <div class="product-counter product_info quickviewe">
                  <i class="i-minus count-down"></i>
                  <input type="text" value="1" inputmode="numeric" class="count" name="product_count" readonly>
                  <i class="i-plus count-up"></i>
               </div>
            </div>

            <button class="btn_primary-outlineOnDark submit_item btn_cart-add">Добавить в корзину</button>
            <a href="../../../pages/page-order/page-order.html" class="btn_primary-action submit_item">Купить сейчас</a>
   
            @@include('../../ui/ui-more/ui-more-link.html', {
               "link": "../../../pages/page-product/page-product.html",
               "text": "Перейти к товару",
               "className": "ui-more_basic-slow_dark submit_item"
            })
         </div>
      </div> -->

      <!-- Для товара, которого нет в наличии -->
      <div class="ui-form-submit">
         <div class="ui-form-submit__container">
            <div class="product-info__counter submit_item">
               <div class="product-counter product_info quickviewe">
                  <i class="i-minus count-down"></i>
                  <input type="text" value="1" inputmode="numeric" class="count" name="product_count" readonly>
                  <i class="i-plus count-up"></i>
               </div>
            </div>
   
            <div class="btn_primary-action submit_item btn_call">Заказать звонок</div>

            @@include('../../ui/ui-more/ui-more-link.html', {
               "link": "../../../pages/page-product/page-product.html",
               "text": "Перейти к товару",
               "className": "ui-more_basic-slow_dark submit_item center product_link"
            })
         </div>
      </div>
   </form>
</div>
<!-- End Module Product info (popup-quickview) -->