<div class="product-info product_page">
   <a href="../../../pages/page-brand-single/page-brand-single.html" class="product-info__brand basicHoverUnderline">
      <span class="child">Asus</span>
   </a>

   <h2 class="product-info__name">VivoBook 15 M1502IA-BQ011W</h2>

   <div class="product-info__price-wrap">
      <h3 class="product-info__price">170 990 ₽</h3>

      @@include('../../ui/ui-star-rating/ui-one-star-rating.html', {
         "className": "dark"
      })
   </div>

   <p class="product-info__inviting-text">Однозначно, независимые государства представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть в равной степени предоставлены сами себе. Также как высококачественный прототип будущего проекта представляет собой интересный эксперимент проверки существующих финансовых и административных условий</p>

   <!-- Опции товара + кнопки -->
   <form action="" class="product-info__options form-options product_page">
      <!-- Здесь опции товара. Подключаются в JS (product-info.js) -->
   
      <div class="ui-form-submit">
         <div class="ui-form-submit__container">
            <div class="product-info__counter submit_item">
               @@include('../product-counter/product-counter.html', { 
                  "className": "product_info product_page" 
               })
            </div>
   
            @@include('../../ui/ui-button/ui-btn/ui-button.html', {
               "className": "btn_target-uiDark submit_item btn_cart-add",
               "text": "Добавить в корзину",
               "type": "button"
            })
   
            @@include('../../ui/ui-button/ui-btn/ui-button-link.html', {
               "link": "#",
               "className": "btn_target-action submit_item",
               "text": "Купить сейчас"
            })
         </div>
      </div>
   </form>
</div>