<div class="product-info">
   <a href="../../../pages/page-brand-single/page-brand-single.html" class="product-info__brand basicHoverUnderline">
      <span class="child">Asus</span>
   </a>

   <h2 class="product-info__name">VivoBook 15 M1502IA-BQ011W</h2>

   <div class="product-info__rating">
      <div class="product-rating-container">
         @@include('../../ui/ui-star-rating/ui-star-rating-static.html', {
            "className": "dark"
         })
         <span class="reviews-count">(10000)</span>
      </div>

      <div class="product-additional">
         <button class="btn-additional"><i class="i-compare"></i></button>
         <button class="btn-additional active"><i class="i-heart"></i></button>
      </div>
   </div>

   <h3 class="product-info__price">170 990 ₽</h3>

   <form action="" class="product-info__options">
      <!-- Здесь опции товара. Подключаются в JS (product-info.js) -->
   </form>

   <div class="product-info__action">
      <div class="product-count">
         <h6 class="product-count__title product-option-name">Количество</h6>
         @@include('../product-counter/product-counter.html', { "className": "quickview" })
      </div>

      <div class="ui-popup__btns">
         @@include('../../ui/ui-button/ui-btn/ui-button.html', {
            "className": "btn_primary-action",
            "text": "Добавить в корзину",
            "type": "button"
         })

         @@include('../../ui/ui-button/ui-btn/ui-button-link.html', {
            "link": "#",
            "className": "btn_primary-uiDark",
            "text": "Купить сейчас"
         })

         @@include('../../ui/ui-more/ui-more-link.html', {
            "link": "../../../pages/page-product/page-product.html",
            "text": "Перейти к товару",
            "className": "ui-more_basic-slow_dark product-link"
         })
      </div>
   </div>
</div>