<div class="product-info product_page">
   <a href="../../../pages/page-brand-single/page-brand-single.html" class="product-info__brand basicHoverUnderline">
      <span class="child">Asus</span>
   </a>

   <div class="product-info__rating">
      <div class="product-rating-container">
         @@include('../../ui/ui-star-rating/ui-star-rating-static.html', {
            "className": "light"
         })
         <span class="reviews-count">(10000)</span>
      </div>

      <div class="product-additional">
         <button class="btn-additional"><i class="i-compare"></i></button>
         <button class="btn-additional active"><i class="i-heart"></i></button>
      </div>
   </div>
   
   <!-- <p class="product-info__text">Однозначно, независимые государства представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть в равной степени предоставлены сами себе. Также как высококачественный прототип будущего проекта представляет собой интересный эксперимент проверки существующих финансовых и административных условий</p> -->

   <h3 class="product-info__price">170 990 ₽</h3>

   <form action="" class="product-info__options page-product">
      <!-- Здесь опции товара. Подключаются в JS (product-info.js) -->
   </form>

   <div class="product-info__action">
      <div class="product-count">
         <h6 class="product-count__title product-option-name">Количество</h6>
         @@include('../product-counter/product-counter.html', { "className": "page-product" })
      </div>

      <div class="ui-popup__btns">
         @@include('../../ui/ui-button/ui-btn/ui-button.html', {
            "type": "button",
            "className": "btn_target-action",
            "text": "Добавить в корзину"
         })

         @@include('../../ui/ui-button/ui-btn/ui-button-link.html', {
            "link": "#",
            "className": "btn_target-dark",
            "text": "Купить сейчас"
         })
      </div>
   </div>
</div>