<div class="product-info quickview">
   <a href="../../../pages/page-brand-single/page-brand-single.html" class="product-info__brand basicHoverUnderline">
      <span class="child">Asus</span>
   </a>

   <h2 class="product-info__name">VivoBook 15 M1502IA-BQ011W</h2>

   <div class="product-info__price-wrap">
      <h3 class="product-info__price">170 990 ₽</h3>

      @@include('../../ui/ui-star-rating/ui-one-star-rating.html', {
         "className": "light"
      })
   </div>

   <!-- <p class="product-info__inviting-text"></p> -->

   <!-- Опции товара + кнопки -->
   <form action="" class="product-info__options form-options quickview">
      <!-- Здесь опции товара. Подключаются в JS (product-info.js) -->
   
      <div class="ui-form-submit">
         <div class="ui-form-submit__container">
            <div class="product-info__counter submit_item">
               @@include('../product-counter/product-counter.html', { 
                  "className": "product_info quickview" 
               })
            </div>

            @@include('../../ui/ui-button/ui-btn/ui-button.html', {
               "className": "btn_primary-outlineOnDark submit_item btn_cart-add",
               "text": "Добавить в корзину",
               "type": "button"
            })
   
            @@include('../../ui/ui-button/ui-btn/ui-button-link.html', {
               "link": "#",
               "className": "btn_primary-action submit_item",
               "text": "Купить сейчас"
            })
   
            @@include('../../ui/ui-more/ui-more-link.html', {
               "link": "../../../pages/page-product/page-product.html",
               "text": "Перейти к товару",
               "className": "ui-more_basic-slow_dark submit_item"
            })
         </div>
      </div>
   </form>
</div>