@import './product-info-options/product-info-options';

.product-info {
   container-name: productInfo;
   container-type: inline-size;

   // TODO Стили для popup-quickview
   &__brand {
      margin-bottom: 15px;
      display: inline-block;
      font-size: 20px;
      font-weight: 300;
      line-height: 100%;
      color: var(--text_additional);
   }

   &__name {
      margin-bottom: 20px;
      line-height: 100%;
   }

   // Обертка flex для цены и рейтинга
   &__price-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
   }

   &__price {
      font-weight: 300;
      line-height: 100%;
   }

   &__inviting-text {
      margin-top: 35px;
      font-size: 17px;
      font-weight: 300;
      line-height: 150%;
      color: var(--dark);
      max-width: 680px;

      @include textCropping( $stringCount: 4 )
   }

  
   // TODO Стили для popup-quickview
   &.quickview {
      .product-info__brand {
         &:hover {
            color: var(--light);
         }

         .product-info__name {
            font-size: 35px;
            font-weight: 500;
            color: var(--light);
         }

         .product-info__price {
            font-size: 27px;
            color: var(--light);
         }
      }

      .product-info__rating {
         .product-additional {
            .btn-additional {
               i {
                  color: var(--dark);
               }

               &:hover {
                  i {
                     color: var(--action);
                  }
               }

               &.active {
                  i {
                     color: var(--action);
                  }
               }
            }
         }
      }

      .product-info__price {
         font-size: 40px;
         font-weight: 700;
         color: var(--dark);
      }

      .product-info__action {
         border-top: 1px solid var(--border_slow);
      }

      .ui-popup__btns {
         grid-template: auto / repeat(auto-fit, minmax(200px, 1fr));
      }

      // .btn-quickview-cart {
      //    @include uiBtnType( $type: secondary, $freeWidth: true, $maxWidth: 100% );
      //    @include uiBtnTheme( $theme: action );
      // }
   
      // .btn-quickview-buy {
      //    @include uiBtnType( $type: secondary, $freeWidth: true, $maxWidth: 100% );
      //    @include uiBtnTheme( $theme: outlines, $childTheme: outlinesDark );
      // }
   }
}