@import './product-info-options/product-info-options';

.product-info {
   container-name: productInfo;
   container-type: inline-size;

   // TODO Стили для popup-quickview
   &__brand {
      margin-bottom: 15px;
      display: inline-block;
      font-size: 20px;
      font-weight: 300;
      line-height: 100%;
      color: var(--text_additional);
   }

   &__name {
      margin-bottom: 20px;
      line-height: 100%;
   }

   // Обертка flex для цены и рейтинга
   &__price-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
   }

   &__price {
      font-weight: 300;
      line-height: 100%;
   }

   &__inviting-text {
      margin-top: 35px;
      font-size: 17px;
      font-weight: 300;
      line-height: 150%;
      color: var(--dark);
      max-width: 680px;

      @include textCropping( $stringCount: 4 )
   }

   

  
   // TODO Стили для popup-quickview
   &.quickview {
      .product-info__brand {
         &:hover {
            color: var(--light);
         }
      }

      .product-info__name {
         font-size: 35px;
         font-weight: 500;
         color: var(--light);
      }

      .product-info__price {
         font-size: 27px;
         color: var(--light);
      }
   }
}