<div class="product-info">
   <div class="product-info-brand">Asus</div>

   <div class="product-info__rating">
      <div class="product-rating-container">
         @@include('../../ui/ui-star-rating/ui-star-rating-static.html', {
            "className": "light"
         })
         <span class="review-count">(10000)</span>
      </div>

      <div class="product-rating-additional">
         <button class="btn-add"><i class="i-compare"></i></button>
         <button class="btn-add active"><i class="i-heart"></i></button>
      </div>
   </div>

   <h3 class="product-info__price">170 990 ₽</h3>

   <form action="" class="ui-form product-info__options"></form>


</div>