<ul class="cost-order @@className">
   <li class="cost-item">
      <div class="key">В корзине:</div>
      <div class="value thin">товара (ов): <strong>336</strong></div>
   </li>

   <li class="cost-item">
      <div class="key">Доставка:</div>
      <div class="value thin">@@deliveryText</div>
   </li>

   <li class="cost-item">
      <div class="key">Сумма (3):</div>
      <div class="value">652 970 ₽</div>
   </li>

   <li class="cost-item total-cost">
      <div class="key">Итого:</div>
      <div class="value">652 970 565 646 ₽</div>
   </li>
</ul>