.notification-card {
   display: grid;
   grid-template: auto / 120px 1fr;
   gap: 15px;

   &__img {
      border-radius: var(--slRd);
      background: var(--ui_dark);
      overflow: hidden;
      
      img {
         max-width: 100%;
         height: auto;
      }
   }

   &__info {
      padding: 7px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__title {
      font-size: 17px;
      font-weight: 400;
      line-height: 110%;
      color: var(--light);
      max-width: 210px;

      @include textCropping( $stringCount: 2 );
   }

   &__price {
      font-size: 17px;
      font-weight: 300;
      line-height: 100%;
      color: var(--light);
   }

   @include media (max-width, 450px) {
      grid-template: auto / 1fr;
      gap: 5px;

      .notification-card__info {
         gap: 15px;
      }

      .notification-card__title {
         font-size: 16px;
      }

      .notification-card__price {
         font-size: 17px;
      }
   }
}