/* 
   * NOTE По умолчанию (.primary)
   * h: 45px
*/

@mixin button (
   $maxWidth: auto,
   $paddingX: 40px,
   $height: 45px,
   $fSize: 17px,
   $fWeight: 400,
   $color: var(--light),
   $bg: var(--dark),
   $borderColor: var(--border),
   $border: 1px solid $borderColor,
   $shadow: none,
   $transition: all .2s ease,
   $type: primary,
   $freeWidth: false,
   $theme: dark,
   $childTheme: none,
) {
   padding: 5px $paddingX;
   display: flex;
   align-items: center;
   justify-content: center;
   height: $height;
   font-family: inherit;
   font-size: $fSize;
   font-weight: $fWeight;
   line-height: 100%;
   border-radius: var(--defaultRd);
   white-space: nowrap;
   transition: $transition;

   @if $type == target {
      $height: 55px;
      $paddingX: 20px;
      $fSize: 20px;
      $fWeight: 400;
      $freeWidth: true;
      
      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;
      max-width: $maxWidth;
      width: 100%;

   } @else if $type == secondary {
      $height: 50px;
      $paddingX: 40px;
      $fSize: 19px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == primary {
      $height: 45px;
      $paddingX: 40px;
      $fSize: 17px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == ui {
      $height: 41px;
      $paddingX: 20px;
      $fSize: 17px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == uiSmall {
      $height: 39px;
      $paddingX: 20px;
      $fSize: 17px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == optionals {
      $height: 39px;
      $paddingX: 30px;
      $fSize: 17px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;
   
   } @else if $type == helper {
      $height: 37px;
      $paddingX: 20px;
      $fSize: 15px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == sticker {
      $height: 30px;
      $paddingX: 15px;
      $fSize: 16px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;
   } @else {
      @error "Такого типа кнопки нет #{$type}.";
   }

   @if $theme == dark {
      $color: var(--light);
      $bg: var(--dark);
      
      color: $color;
      background: $bg;

      &:hover {
         background: var(--action);
      }

   } @else if $theme == uiDark {
      $color: var(--text_selected_on_dark);
      $bg: var(--ui_dark);
      
      color: $color;
      background: $bg;

      &:hover {
         background: var(--text_additional);
         color: var(--light);
      }

   } @else if $theme == action {
      $color: var(--light);
      $bg: var(--action);
      
      color: $color;
      background: $bg;

      &:hover {
         background: var(--dark);
      }

   } @else if $theme == light {
      $color: var(--dark);
      $bg: var(--light);
      $shadow: var(--light_btn_shadow);
      
      color: $color;
      background: $bg;
      box-shadow: $shadow;

      &:hover {
         background: var(--action);
         color: var(--light);
      }

   } @else if $theme == outlines {
      $color: var(--dark);
      $bg: transparent;
      
      color: $color;
      background: $bg;
      border: $border;

      @if $childTheme == outlinesLight {
         $color: var(--light);
         $bg: transparent;
         $borderColor: var(--light);
         $border: 1px solid $borderColor;

         color: $color;
         background: $bg;
         border: $border;

      } @else if $childTheme == outlinesDark {
         $color: var(--dark);
         $bg: transparent;
         $borderColor: var(--dark);
         $border: 1px solid $borderColor;

         color: $color;
         background: $bg;
         border: $border;
      } @else if $childTheme == outlinesDefault {
         $color: var(--dark);
         $bg: transparent;
         $borderColor: var(--border);
         $border: 1px solid $borderColor;

         color: $color;
         background: $bg;
         border: $border;
      } @else {
         @error "Такой дочерней темы не существует #{$childTheme}.";
      }

      &:hover {
         background: var(--dark);
         color: var(--light);
         border-color: var(--dark);
      }

   } @else if $theme == option {
      $color: var(--dark);
      $bg: var(--separating);
      $borderColor: transparent;
      $border: 1px solid $borderColor;
      
      color: $color;
      background: $bg;
      border: $border;

      &:hover {
         color: var(--light);
         background: var(--text_additional);
         border-color: var(--text_additional);
      }

      &.active {
         color: var(--dark);
         background: var(--action_slow);
         border-color: var(--action_slow);
      }

      @if $childTheme == optionDark {
         $color: var(--text_additional);
         $bg: var(--ui_dark);
         $borderColor: transparent;
         $border: 1px solid $borderColor;
         
         color: $color;
         background: $bg;
         border: $border;

         &:hover {
            color: var(--light);
            background: var(--text_additional);
            border-color: var(--text_additional);
         }

         &.active {
            color: var(--light);
            background: var(--dark);
            border-color: var(--action);
         }
      }

   } @else if $theme == light {
      $color: var(--dark);
      $bg: var(--light);
      $shadow: var(--light_btn_shadow);
      
      color: $color;
      background: $bg;
      box-shadow: $shadow;

      &:hover {
         background: var(--action);
         color: var(--light);
      }
   }

   @if $freeWidth {
      max-width: $maxWidth;
      width: 100%;
   }
}

.ui-btn {
   @include button (
      $type: primary,
      $theme: dark
   );
}

.btn_reg {
   @include button (
      $type: uiSmall,
      $theme: outlines,
      $childTheme: outlinesDefault
   );
   padding: 11px clamp(20px, 3cqi, 30px);

   &:hover {
      color: var(--dark);
      background: var(--border);
      border-color: transparent;
   }
}

.btn_enter {
   @include button (
      $type: uiSmall,
      $theme: action,
   );
   padding: 11px clamp(20px, 3cqi, 30px);
}

.btn_subscribe {
   @include button (
      $type: primary,
      $theme: action,
      $paddingX: 25px
   );
}

.btn_outlines_default {
   @include button (
      $theme: outlines,
      $childTheme: outlinesDefault
   )
}

.btn_primary {
   @include button (
      $type: primary
   )
}

