

@mixin uiBtnTheme (
   $color: var(--light),
   $bg: var(--dark),
   $shadow: none,
   $borderColor: var(--border),
   $border: 1px solid $borderColor,
   $theme: dark,
   $childTheme: none,
   $transition: all .2s ease,
) {

   transition: $transition;

   @if $theme == dark {
      $color: var(--light);
      $bg: var(--dark);
      
      color: $color;
      background: $bg;

      &:hover {
         background: var(--action);
      }

   } @else if $theme == uiDark {
      $color: var(--text_selected_on_dark);
      $bg: var(--ui_dark);
      
      color: $color;
      background: $bg;

      &:hover {
         background: var(--text_additional);
         color: var(--light);
      }

   } @else if $theme == action {
      $color: var(--light);
      $bg: var(--action);
      
      color: $color;
      background: $bg;

      &:hover {
         background: var(--dark);
      }

   } @else if $theme == light {
      $color: var(--dark);
      $bg: var(--light);
      $shadow: var(--light_btn_shadow);
      
      color: $color;
      background: $bg;
      box-shadow: $shadow;

      &:hover {
         background: var(--action);
         color: var(--light);
      }

   } @else if $theme == outlines {
      $color: var(--dark);
      $bg: transparent;
      
      color: $color;
      background: $bg;
      border: $border;

      @if $childTheme == outlinesLight {
         $color: var(--light);
         $bg: transparent;
         $borderColor: var(--light);
         $border: 1px solid $borderColor;

         color: $color;
         background: $bg;
         border: $border;

         &:hover {
            background: var(--dark);
            color: var(--light);
            border-color: var(--dark);
         }

      } @else if $childTheme == outlinesDark {
         $color: var(--dark);
         $bg: transparent;
         $borderColor: var(--dark);
         $border: 1px solid $borderColor;

         color: $color;
         background: $bg;
         border: $border;

         &:hover {
            background: var(--dark);
            color: var(--light);
            border-color: var(--dark);
         }

      } @else if $childTheme == outlinesDefault {
         $color: var(--dark);
         $bg: transparent;
         $borderColor: var(--border);
         $border: 1px solid $borderColor;

         color: $color;
         background: $bg;
         border: $border;

         &:hover {
            background: var(--dark);
            color: var(--light);
            border-color: var(--dark);
         }
         
      } @else if $childTheme == outlinesDefaultLight {
         $color: var(--light);
         $bg: transparent;
         $borderColor: var(--text_additional);
         $border: 1px solid $borderColor;

         color: $color;
         background: $bg;
         border: $border;

         &:hover {
            background: $borderColor;
         }
      } @else {
         @error "Такой дочерней темы не существует #{$childTheme}.";
      }

   } @else if $theme == option {
      $color: var(--dark);
      $bg: var(--separating);
      $borderColor: transparent;
      $border: 1px solid $borderColor;
      
      color: $color;
      background: $bg;
      border: $border;

      &:hover {
         color: var(--light);
         background: var(--text_additional);
         border-color: var(--text_additional);
      }

      &.active {
         color: var(--dark);
         background: var(--action_slow);
         border-color: var(--action_slow);
      }

      @if $childTheme == optionDark {
         $color: var(--text_additional);
         $bg: var(--ui_dark);
         $borderColor: transparent;
         $border: 1px solid $borderColor;
         
         color: $color;
         background: $bg;
         border: $border;

         &:hover {
            color: var(--light);
            background: var(--text_additional);
            border-color: var(--text_additional);
         }

         &.active {
            color: var(--light);
            background: var(--dark);
            border-color: var(--action);
         }
      }

   } @else if $theme == light {
      $color: var(--dark);
      $bg: var(--light);
      $shadow: var(--light_btn_shadow);
      
      color: $color;
      background: $bg;
      box-shadow: $shadow;

      &:hover {
         background: var(--action);
         color: var(--light);
      }
   }
}

@mixin uiBtnType (
   $type: primary,
   $maxWidth: auto,
   $paddingX: 40px,
   $height: 45px,
   $fSize: 17px,
   $fWeight: 400,
   $freeWidth: false,
   
) {
   display: flex;
   align-items: center;
   justify-content: center;
   height: $height;
   font-family: inherit;
   font-size: $fSize;
   font-weight: $fWeight;
   line-height: 100%;
   border-radius: var(--defaultRd);
   white-space: nowrap;
   padding: 5px $paddingX;
   

   @if $type == target {
      $height: 55px;
      $paddingX: 20px;
      $fSize: 20px;
      $fWeight: 400;
      $freeWidth: true;
      
      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;
      max-width: $maxWidth;
      width: 100%;

   } @else if $type == secondary {
      $height: 50px;
      $paddingX: 40px;
      $fSize: 19px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == primary {
      $height: 45px;
      $paddingX: 40px;
      $fSize: 17px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == ui {
      $height: 41px;
      $paddingX: 20px;
      $fSize: 17px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == uiSmall {
      $height: 39px;
      $paddingX: 20px;
      $fSize: 17px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == optionals {
      $height: 39px;
      $paddingX: 30px;
      $fSize: 17px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;
   
   } @else if $type == helper {
      $height: 37px;
      $paddingX: 20px;
      $fSize: 15px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;

   } @else if $type == sticker {
      $height: 30px;
      $paddingX: 15px;
      $fSize: 16px;
      $fWeight: 400;

      padding: 5px $paddingX;
      font-size: $fSize;
      font-weight: $fWeight;
      height: $height;
   } @else {
      @error "Такого типа кнопки нет #{$type}.";
   }

   @if $freeWidth {
      max-width: $maxWidth;
      width: 100%;
   }
}

/* NOTE Черная кнопка primary (45px) - по умолчанию */
.ui-btn {
   @include uiBtnType( $type: primary );
   @include uiBtnTheme( $theme: dark );
}


/* NOTE Кнопка входа в top-menu */
.btn_login {
   @include uiBtnType( $type: uiSmall );
   @include uiBtnTheme( $theme: action );

   padding: 11px clamp(20px, 3cqi, 30px);
}


/* NOTE Кнопка входа в top-menu */
.btn_inside-input {
   @include uiBtnType( $type: primary  );
   @include uiBtnTheme( $theme: action );

   padding-left: 25px;
   padding-right: 25px;
}


/* NOTE Кнопка "Поазать еще" - кнопка еще */
.btn_enter {
   @include uiBtnType( $type: uiSmall );
   @include uiBtnTheme( $theme: action );

   padding: 11px clamp(20px, 3cqi, 30px);
}


.btn_primary_outlines_def {
   @include uiBtnType( $type: primary );
   @include uiBtnTheme( $theme: outlines, $childTheme: outlinesDefault );
}

.btn_primary_outlines_deflight {
   @include uiBtnType( $type: primary );
   @include uiBtnTheme( $theme: outlines, $childTheme: outlinesDefaultLight);
}

