<div class="collection-list">
   @@loop('../collection-card/collection-card.html', [
      {
         "decor": "Setup для настоящих",
         "title": "Геймеров",
         "text": "Мы подобрали лучшее для твоих побед. Стань лучшим в киберпространстве. Покупай и побеждай",
         "img": "../../../img/optimized/collections/collection_1.webp"
      },
      {
         "decor": "Для Вас важна не столько мощь, сколько...",
         "title": "Стиль и Эстетика",
         "text": "Специально для Вас мы сделали акцент на стиль, удобство, простоту и доступность, вместо передовых технологий. Красота может быть доступной!",
         "img": "../../../img/optimized/collections/collection_2.webp",
         "className": "dark-content"
      }
   ])
</div>