%hidePasswordIcons {
   opacity: 0;
   visibility: hidden;
   // transform: translate(-120%, -50%);
}

%showPasswordIcons {
   opacity: 1;
   visibility: visible;
   // transform: translate(-50%, -50%);
}

@mixin uiInput (
   $paddingY: 5px,
   $paddingLeft: 20px,
   $paddingRight: 10px,
   $height: 50px,
   $fSize: 17px,
   $fWeight: 400,
) {
   padding: $paddingY $paddingRight $paddingY $paddingLeft;
   display: flex;
   align-items: center;
   height: $height;
   font-family: inherit;
   font-size: $fSize;
   font-weight: $fWeight;
   line-height: 100%;
   border-radius: var(--defaultRd);
   width: 100%;

}

@mixin uiInputTheme (
   $color: var(--dark),
   $bg: var(--separating),
   $borderColor: transparent,
   $border: 1px solid $borderColor,
   $theme: light
) {
   color: $color;
   background: $bg;
   outline: none;
   border: $border;
   
   &::placeholder {
      font-weight: 200;
      color: var(--text_additional);
   }

   @if $theme == light {
      $bg: var(--separating);
      $color: var(--dark);

      background: $bg;
      color: $color;

   } @else if $theme == dark {
      $bg: var(--ui_dark);
      $color: var(--light);

      background: $bg;
      color: $color;

   } @else {
      @error "Такой темы input не существует #{$theme}.";
   }

   // &:active, &:focus {
   //    border-color: var(--action_slow);
   // }
}

.ui-input {
   @include uiInput;
   @include uiInputTheme ( $theme: light );

   &.dark {
      @include uiInputTheme ( $theme: dark )
   }
}


.ui-textarea {
   @include uiInput ( $paddingY: 16px, $height: auto );
   @include uiInputTheme ( $theme: light );

   padding-top: 16px;
   border-radius: var(--mdRd);
   min-height: 120px;

   &.dark {
      @include uiInputTheme ( $theme: dark )
   }
}


// TODO input числового значения рейтинга в форме отзыва
.input_rating {
   @include uiInput ( 
      $paddingLeft: 5px,
      $paddingRight: 5px,
      $height: 36px
   );
   @include uiInputTheme( $theme: dark);

   text-align: center;
   width: 90px;
}


// TODO Инпут Подписки на уведомления
.input_subscribeSearch {
   @include uiInput ( $paddingRight: 180px, $height: 54px );
   @include uiInputTheme ( $theme: dark );
}

// TODO Пароль
.input_password {
   & + .password-control {
      display: inline-block;
      width: 46px;
      height: 46px;
      background: transparent;
      border-radius: var(--circleRd);
      position: absolute;
      top: 2px;
      right: 2px;
      cursor: pointer;
      transition: all .3s ease;

      i {
         font-size: 18px;
         color: var(--text_additional);
         position: absolute;
         top: 50%;
         left: 50%;
         transition: inherit;
         transform: translate(-50%, -50%);

         &.password_show {
            @extend %showPasswordIcons;
         }

         &.password_hide {
            @extend %hidePasswordIcons;
         }
      }

      &:has(.password-control__input:checked) {
         background: var(--border_dark);

         .password_show {
            @extend %hidePasswordIcons;
         }
            
         .password_hide {
            @extend %showPasswordIcons;

            color: var(--action);
         }
      }
   }
}


// TODOD
.element-inside-input {
   position: absolute;
   top: 2px;
   cursor: pointer;

   &.left {
      left: 2px;
   }

   &.right {
      right: 2px;
   }
}

.ui-form-item {
   &:has(.input_icon) {
      .element-inside-input {
         width: 46px;
         height: 46px;
         background: var(--border_dark);
         border-radius: var(--circleRd);
         display: flex;
         align-items: center;
         justify-content: center;
         overflow: hidden;
         transition: all .2s ease;

         i {
            font-size: 22px;
            color: var(--text_additional);
            transition: inherit;
         }

         &:hover {
            background: var(--dark);

            i {
               color: var(--action);
            }
         }
      }
   }
}


// NOTE ui-form-item
.ui-form-item {
   position: relative;
   
   .error-message {
      margin-top: 5px;
      font-size: 15px;
      font-weight: 500;
      line-height: 100%;
      color: var(--error);
      position: relative;
      text-align: left;
      display: none;
   }

   &.error {
      .ui-input,
      .ui-textarea {
         background: var(--error_bg);
         color: var(--error);
         border-color: var(--error);

         &::placeholder {
            font-weight: 400;
            color: var(--error);
         }
      }

      .error-message {
         display: block;
      }
   }

   &:has(.ui-innput.promocode) {
      &.success {
         color: var(--success);
      }
   }
}

.ui-input_popup {
   @include uiInput;
   @include uiInputTheme( $theme: dark )
}


.form-item_tel {
   .ui-input {
      padding-left: 87px;
   }
}