.product-list {
   margin: 40px 0;
   display: grid;
   grid-template: auto / repeat(4, 1fr);
   column-gap: 20px;
   row-gap: clamp(40px, 10cqi, 70px);

   @include media (max-width, 1200px) {
      grid-template: auto / repeat(3, 1fr);
   }

   @include media (max-width, 830px) {
      grid-template: auto / repeat(2, 1fr);
   }

   @include media (max-width, 550px) {
      grid-template: auto / 1fr;
   }
}

.product-card {
   user-select: none;
   container-type: inline-size;

   .img {
      border-radius: clamp(var(--optionalRd), 11cqi, var(--defaultRd));
      background: var(--separating);
      position: relative;
      overflow: hidden;
      cursor: pointer;
      display: inline-block;
      transition: all .2s ease;

      img {
         max-width: 100%;
         height: auto;
      }

      .hover-img {
         position: absolute;
         top: 0;
         right: 0;
         transform: translateX(100%);
         transition: all .5s ease;
      }

      .action-wrap {
         position: absolute;
         bottom: clamp(12px, 5cqi, 20px);
         right: clamp(12px, 5cqi, 20px);

         .btn_product_cart {
            width: clamp(38px, 15cqw, 46px);
            height: clamp(38px, 15cqw, 46px);

            i {
               font-size: clamp(18px, 5cqi, 22px);
            }
         }
      }

      .quick-nav {
         position: absolute;
         top: clamp(12px, 5cqi, 20px);
         right: clamp(12px, 5cqi, 20px);
         display: flex;
         flex-direction: column;
         gap: clamp(6px, 3cqi, 10px);
         transition: all .2s ease;
   
         .btn_product_quick {

            width: clamp( 26px, 12cqw, 35px);
            height: clamp( 26px, 12cqw, 35px);

            i {
               font-size: clamp(13px, 5cqi, 17px);
            }
   
            &:nth-child(2) {
               transition: 
                  transform .2s ease .05s, 
                  opacity .2s ease .05s, 
                  visibility .2s ease .05s, 
                  translate .2s ease,
                  background-color .2s ease;
            }
   
            &:nth-child(3) {
               transition: 
                  transform .2s ease .1s, 
                  opacity .2s ease .1s, 
                  visibility .2s ease .1s, 
                  translate .2s ease,
                  background-color .2s ease;
            }
         }
      }
   }

   .info {
      padding: 0 10px;
      margin-top: clamp(12px, 5cqi, 15px);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .title {
         font-size: clamp(18px, 8cqi, 23px);
         font-weight: 300;
         line-height: clamp(105%, 8cqi, 110%);
         text-align: center;
         transition: all .2s ease;
   
         a {
            color: var(--dark);
            transition: inherit;
         }
      }

      .price {
         color: var(--dark);
         font-size: clamp(18px, 5cqi, 20px);
         font-weight: 600;
         line-height: 100%;
      }
   }

   &:hover {
      .img {
         background: var(--separating_contrast);

         .quick-nav {
            .btn_product_quick {
               transform: none;
               opacity: 1;
               visibility: visible;
   
               &:hover {
                  translate: 0 -2px;
               }
            }
         }
      }

      .hover-img {
         transform: none;
      }

      .info {
         .title a {
            color: var(--action);
         }
      }
   }
}