.ui-btn-default {
   border-radius: var(--defaultRd);
   font-family: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .2s ease;

   span {
      font-weight: 400;
      line-height: 100%;
      position: relative;
      z-index: 1;
      transition: inherit;
   }

   // NOTE Types
   &.btn_default {
      padding: 14px 40px;
      font-size: 17px;
   }

   &.btn_primary {
      padding: 15px 40px;
      font-size: 19px;
   }

   &.btn_target {
      padding: 17px 40px;
      font-size: 20px;
   }

   &.btn_secondary {
      padding: 12px 20px;
      font-size: 15px;
      // font-weight: 600;
   }

   &.btn_option {
      padding: 12px 20px;
      font-size: 17px;
      border: 1px solid transparent;

      // &__dark:hover {

      // }
   }

   &.btn_helper {
      padding: 10px 20px;
      font-size: 17px;
   }

   &.btn_sticker {
      padding: 7px 15px;
      font-size: 16px;
   }

   &.btn_outline {
      border: 1px solid var(--border);
      background: transparent;

      span { color: var(--dark); }

      &:hover {
         background: var(--dark);
         border-color: var(--dark);

         span {
            color: var(--light);
         }
      }

      &__dark {
         border: 1px solid var(--dark);

         span { color: var(--dark); }
      }

      &__light {
         border: 1px solid var(--text_additional);

         span { color: var(--light); }
      }
      
   }

   // NOTE Colors
   &.btn_light {
      background: var(--light);

      span { color: var(--dark); }
   }

   &.btn_action {
      background: var(--action);

      span { color: var(--light); }

      &:hover {
         background: var(--dark);
      }
   }

   &.btn_dark {
      background: var(--dark);

      span { color: var(--light); }
   }

   &.btn_ui-dark {
      background: var(--ui_dark);

      span { color: var(--text_selected_on_dark); }
   }

   &.out-of-stock {
      background: #9BBBD8;
      span { color: var(--light); }
   }




}
