<!-- popup send-review (popup оставить отзыв товару/магазину) -->
<div class="ui-popup popup" id="popup-rules">
   <div class="ui-popup__container">

      <!-- Здесь контент -->
      <h2 class="ui-popup__title">Правила и условия</h2>

      <p class="policy-text">Настоящая Политика конфиденциальности устанавливает порядок сбора, использования, раскрытия и защиты информации, предоставляемой пользователями во время использования нашего интернет-магазина электроники. Мы стремимся обеспечить максимальную прозрачность и безопасность в обработке ваших персональных данных.</p>

      <ol class="policy-list list_1">
         <li class="list-item">
            Сбор и использование информации
            <ol class="policy-list list_2">
               <li class="list-item">При посещении нашего сайта автоматически записываются данные, включая IP-адрес, браузер, время доступа и просмотренные страницы. Эти данные используются для анализа статистики посещения и улучшения работы сайта.</li>
               <li class="list-item">При регистрации и оформлении заказа мы запрашиваем ваши персональные данные, такие как имя, адрес электронной почты, телефон и адрес доставки. Эти данные используются для обработки заказов и связи с вами.</li>
            </ol>
         </li>

         <li class="list-item">
            Защита информации
            <ol class="policy-list list_2">
               <li class="list-item">Мы предпринимаем все необходимые меры для обеспечения безопасности ваших данных, используя современные технологии шифрования и защиты.</li>
               <li class="list-item">При регистрации и оформлении заказа мы запрашиваем ваши персональные данные, такие как имя, адрес электронной почты, телефон и адрес доставки. Эти данные используются для обработки заказов и связи с вами.</li>
            </ol>
         </li>
      </ol>

      <p class="policy-text">Эта Политика конфиденциальности регулируется законодательством Российской Федерации и может быть пересмотрена и обновлена без предварительного уведомления. Пожалуйста, периодически проверяйте эту страницу для получения актуальной информации.</p>
      <!-- Здесь контент -->

      @@include('../../ui/ui-close/ui-close.html', {
         "className": "close_popup popup-rules-close",
         "classNameIcon": "close"
      })
   </div>

   <div class="ui-popup__overlay" id="overlay-rules"></div>
</div>
<!-- End popup send-review -->