<div class="ui-popup popup" id="popup-image-preview">
   <div class="ui-popup__container">

      <!-- Здесь контент -->
      <ul class="image-preview-list">
         <li class="image-preview-item"><img src="../../../img/optimized/cards/cards_large/card_1.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/cards/cards_large/card_2.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/cards/cards_large/card_3.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/cards/cards_large/card_4.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/cards/cards_large/card_5.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/review/review_13.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/review/review-img_12.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/review/review_14.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/review/review_16.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/cards/cards_large/card_7.webp" alt=""></li>
         <li class="image-preview-item"><img src="../../../img/optimized/cards/cards_large/card_17.webp" alt=""></li>
      </ul>
      <!-- Здесь контент -->
   </div>

   @@include('../../ui/ui-close/ui-close.html', {
      "className": "close_popup popup-image-preview-close",
      "classNameIcon": "close"
   })

   <div class="ui-popup__overlay" id="overlay-image-preview"></div>
</div>