<!-- popup image-preview (popup просмотр увеличенных изображений товара) -->
<div class="ui-popup popup" id="popup-image-preview">
   <div class="ui-popup__container">

      <!-- Здесь контент -->
      <ul class="image-preview-list">
         <li class="image-preview-item"><img loading="lazy" src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_1_lg.webp" alt="iPhone 15 yellow"></li>
         <li class="image-preview-item"><img loading="lazy" src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_2_lg.webp" alt="iPhone 15 yellow"></li>
         <li class="image-preview-item"><img loading="lazy" src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_3_dark_lg.webp" alt="iPhone 15 yellow"></li>
         <li class="image-preview-item"><img loading="lazy" src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_4_lg.webp" alt="iPhone 15 yellow"></li>
         <li class="image-preview-item"><img loading="lazy" src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_5_lg.webp" alt="iPhone 15 yellow"></li>
         <li class="image-preview-item"><img loading="lazy" src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_6_dark_lg.webp" alt="iPhone 15 yellow"></li>
         <li class="image-preview-item"><img loading="lazy" src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_7_lg.webp" alt="iPhone 15 yellow"></li>
      </ul>
      <!-- Здесь контент -->
   </div>

   @@include('../../ui/ui-close/ui-close.html', {
      "className": "close_popup popup-image-preview-close",
      "classNameIcon": "close"
   })

   <div class="ui-popup__overlay" id="overlay-image-preview"></div>
</div>
<!-- End popup image-preview -->