.ui-form_sign {
   display: grid;
   grid-template: auto / 1fr;
   gap: 15px;

   .ui-form-submit {
      margin-top: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
   }

   .btn_submit {
      @include buttonIconType( $type: primary );
      @include buttonIconTheme( $theme: action );
   }

   .forgot-password {
      padding: 4px 0;
      font-size: 17px;
      font-weight: 400;
      line-height: 100%;
      color: var(--light);
      cursor: pointer;
      transition: background-size .2s ease, color .2s ease;

      &:hover {
         color: var(--action);
      }
   }
}