$transition: all .2s ease;

.ui-product-counter {
   display: flex;
   align-items: center;
   gap: 15px;

   i {
      font-size: 14px;
      color: var(--border_dark);
      cursor: pointer;
      transition: $transition;

      &:hover {
         color: var(--light);
      }
   }

   .count {
      font-size: 17px;
      font-weight: 400;
      line-height: 170%;
      color: var(--light);
      width: 30px;
      height: 15px;
      background: transparent;
      border: none;
      outline: none;
      text-align: center;
   }

   &.dark {
      i {
         color: var(--border_dark);

         &:hover {
            color: var(--action);
         }
      }

      .count {
         color: var(--dark);
      }
   }

   &.quickview {
      i {
         font-size: 16px;
      }

      .count {
         font-size: 20px;
      }
   }
}