// TODO Поле главного поиска в popup
search {
   max-width: 630px;
   width: 100%;
}

.search-form {
   position: relative;
}

#main-search {
   .input_search {
      @include uiInput (
         $paddingRight: 65px,
         $fSize: 19px,
         $fWeight: 500,
         $height: 54px,
      );
      @include uiInputTheme ( $theme: dark );

      &::placeholder {
         font-weight: 300;
      }
   }

   .btn-search {
      padding: 5px 25px;
   }

   .btn-circle_search {
      width: 50px;
      height: 50px;
      border-radius: var(--circleRd);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 2px;
      right: 2px;
      background: var(--action);
      transition: all .2s ease;

      i {
         font-size: 22px;
         color: var(--light);
         transition: all .2s ease;
      }

      &:hover {
         background: var(--light);

         i {
            color: var(--dark);
         }
      }
   }
}


// TODO Поле поискса на страницах ()
#page-search {
   .ui-input {
      @include uiInput (
         $paddingRight: 117px,
         $fSize: 19px,
         $fWeight: 500,
         $height: 45px,
      );
      @include uiInputTheme ( $theme: light );

      &::placeholder {
         font-weight: 300;
      }
   }

   @include media (max-width, 900px) {
      .ui-input {
         height:  54px;
      }

      .btn_search {
         height: 50px;
      }
   }
}
