// TODO Поле главного поиска в popup
search {
   max-width: 630px;
   width: 100%;
}

.search-form {
   position: relative;
}

#main-search {
   .input_search {
      @include uiInput (
         $paddingRight: 65px,
         $fSize: 19px,
         $fWeight: 500,
         $height: 54px,
      );
      @include uiInputTheme ( $theme: dark );

      &::placeholder {
         font-weight: 300;
      }
   }
}


// TODO Поле поискса на страницах ()
#page-search {
   .input_search {
      @include uiInput (
         $paddingRight: 65px,
         $fSize: 19px,
         $fWeight: 500,
         $height: 54px,
      );
      @include uiInputTheme ( $theme: light );

      &::placeholder {
         font-weight: 300;
      }
   }

   .btn_main-search {
      background: var(--dark);

      i {
         color: var(--light);
      }

      &:hover {
         background: var(--action);
      }
   }
}
