.info-links {
   margin-top: 40px;
   margin-bottom: 40px;
   padding: 10px 0;
   display: flex;
   flex-wrap: nowrap;
   gap: 20px;
   overflow-x: auto;

   @extend %fullWidthElement;

   &::-webkit-scrollbar {
      background: transparent;
      display: none;
   }

   &::-webkit-scrollbar-corner {
      background: transparent;
   }

   .info-link {
      width: 100%;
      min-width: 250px;
      display: flex;
      container-name: infoLink;
      container-type: inline-size;

      &__container {
         padding: 30px clamp(20px, 10cqi, 30px);
         border-radius: var(--mdRd);
         background: var(--separating);
         display: flex;
         gap: 20px;
         width: 100%;
         transition: all .2s ease;
      }

      &__icon {
         $size: clamp(55px, 16cqi, 70px);

         margin-top: -5px;
         width: $size;
         height: $size;
         flex: 0 0 $size;
         border-radius: var(--circleRd);
         display: flex;
         align-items: center;
         justify-content: center;
         border: 1px solid var(--dark);
         transition: inherit;

         i {
            font-size: clamp(30px, 6cqi, 35px);
            color: var(--dark);
            transition: inherit;
         }
      }

      &__title {
         margin-bottom: 10px;
         font-size: clamp(20px, 7cqi, 24px);
         font-weight: 500;
         line-height: 100%;
         color: var(--dark);
         transition: all .2s ease;
      }

      &__more {
         @include uiMore( $fSize: 15px, $iconSize: 11px );
         @include hoverLinkUnderline ( $fromEmptiness: false, $bgYSize: 1px, );

         padding-bottom: 5px;
      }

      &:hover {
         .info-link__container {
            background: var(--dark);
         }

         .info-link__icon {
            border-color: transparent;
            background: var(--border_dark);

            i {
               color: var(--action);
            }
         }

         .info-link__title {
            color: var(--light);
         }

         .info-link__more {
            @include hoverLinkUnderline ( $bgColorStart: var(--light), $fromEmptiness: false, $bgYSize: 1px, );
            padding-bottom: 5px;

            .child, &:after {
               color: var(--light);
            }
           
            &:hover {
               .child, &:after {
                  color: var(--action);
               }
            }
         }
      }

      @container (max-width: 350px) {
         .info-link__container {
            flex-direction: column;
         }

         .info-link__title {
            font-size: 24px;
         }

         .info-link__icon {
            $size: 70px;

            width: $size;
            height:$size;
            flex: 0 0 $size;

            i {
               font-size: 30px;
            }
         }
      }
   }
}