<!-- Module information-links (блоки ссылок на information page) -->
<div class="info-links">
   @@loop('./information-link.html', [
      {
         "link": "../../pages/page-information/page-information.html",
         "title": "Удобная доставка",
         "classNameIcon": "delivery"
      },

      {
         "link": "../../pages/page-information/page-information.html",
         "title": "Гарантия на все товары",
         "classNameIcon": "warranty"
      },

      {
         "link": "../../pages/page-information/page-information.html",
         "title": "Ремонт и обслуживание",
         "classNameIcon": "service"
      },

      {
         "link": "../../pages/page-information/page-information.html",
         "title": "Гарантия возврата",
         "classNameIcon": "returns"
      },
   ])
</div>
<!-- End Module information-links -->