@mixin uiMore (
   $gutter: 15px,
   $padding: 3px 0,
   $fSize: 17px,
   $fWeight: 400,
   $icon: '\e905',
   $iconFSize: 14px,
   $iconHoverMove: translate(3px),
   $iconHoverColor: var(--action),
   
   $theme,
   $color: var(--dark),
   $iconColor: var(--dark),
) {
   display: inline-flex;
   align-items: center;
   gap: $gutter;
   cursor: pointer;
   transition: all .3s ease;

   .child {
      padding: $padding;
      font-size: $fSize;
      font-weight: $fWeight;
      line-height: 100%;
      color: $color;
      position: relative;
      white-space: nowrap;
      transition: background-size .2s ease,  color .2s ease;
   }

   &:after {
      content: $icon;
      font-family: var(--icon_font);
      font-size: $iconFSize;
      color: $iconColor;
      display: inline-block;
      transition: inherit;
   }

   &:hover {
      .child {
         color: var(--action);
      }

      &:after {
         color: $iconHoverColor;
         transform: $iconHoverMove;
      }
   }

   @if $theme == dark {
      $color: var(--dark);
      $iconColor: var(--dark);

      .child {
         color: $color;

         &:after { color: $iconColor; }
      }

   } @else if $theme == slowDark {
      $color: var(--text_selected_on_dark);
      $iconColor: var(--text_selected_on_dark);

      .child {
         color: $color;

         &:after { color: $iconColor; }
      }

      &:hover {
         .child {
            color: var(--light);
         }
      }

   } @else if $theme == light {
      $color: var(--light);
      $iconColor: var(--light);

      .child, &:after {
         color: $color;
      }


      &:hover {
         .child {
            color: var(--light);
         }
      }
   }
}


/* USE default */
.ui-more {
   @include uiMore( $theme: dark );
}


/* USE small */
.ui-more_small {
   @include uiMore( 
      $padding: 2px 0,  
      $fSize: 15px,
      $iconFSize: 13px,
      $theme: dark 
   );
}


/* USE используется как ссылка в popup-ах */
.ui-more_slow-dark {
   @include uiMore( $theme: slowDark );
}


/* USE показать скрытые элементы */
.ui-more_show-collapse {
   @include uiMore( 
      $fSize: 14px,
      $iconFSize: 13px,
      $theme: light,
      $icon: "\e901"
   );

   &.active {
      &:after {
         transform: rotate(180deg);
         color: var(--action);
      }
   }

   
}