/* TODO Подчеркивание ссылок */
@mixin hoverLinkUnderline (
   $bgColorStart: var(--dark),
   $bgColorEnd: var(--dark),
   $bgPositionStart: right bottom,
   $bgPositionEnd: left bottom,
   $bgYSize: 1px,
   $duration: .2s,
   $fromEmptiness: true,
   $hoverChild: false,
) {
   @if $hoverChild {
      & > .child {
         background: -webkit-gradient(linear,left top,left bottom,from($bgColorStart));
         background-repeat: no-repeat;
         transition: 
            background-size $duration ease,
            color $duration ease,
            transform $duration ease;
      }

      @if $fromEmptiness {
         & > .child {
            background-position: right bottom;
            background-size: 0% $bgYSize;
         }

         &:hover {
            & > .child {
               background-position: left bottom;
               background-size: 100% $bgYSize;
            }
         }
   
      } @else {
         & > .child {
            background-position: left bottom;
            background-size: 100% $bgYSize;
         }

         &:hover {
            & > .child {
               background-position: right bottom;
               background-size: 0% $bgYSize;
            }
         }
      }

   } @else {
      background: -webkit-gradient(linear,left top,left bottom,from($bgColorStart));
      background-repeat: no-repeat;
      transition: 
            background-size $duration ease,
            color $duration ease,
            transform $duration ease;

      .child {
         transition: all $duration ease;
      }

      @if $fromEmptiness {
         background-position: right bottom;
         background-size: 0% $bgYSize;
   
         &:hover {
            background-position: left bottom;
            background-size: 100% $bgYSize;
         }
   
      } @else {
         background-position: left bottom;
         background-size: 100% $bgYSize;
   
         &:hover {
            background-position: right bottom;
            background-size: 0% $bgYSize;
         }
      }
   }
}

.basicHoverUnderline {
   @include hoverLinkUnderline ( 
      $bgColorStart: var(--action),
      $bgYSize: 1px,
      $hoverChild: true
   );
}


/* TODO Ссылки с иконками */
@mixin uiMore (
   $fSize: 17px,
   $fWeight: 400,
   $color: var(--dark),
   $icon: '\e905',
   $iconColor: var(--dark),
   $iconHoverColor: var(--action),
   $iconSize: 13px,
   $gap: 15px,
   $transform: translateX(5px),
   $duration: .2s,
   $theme: dark,

) {
   display: inline-flex;
   align-items: center;
   width: max-content;
   gap: $gap;
   cursor: pointer;

   .child {
      font-size: $fSize;
      font-weight: $fWeight;
      line-height: 100%;
      color: $color;
   }

   &:after {
      content: $icon;
      font-family: var(--icon_font);
      font-size: $iconSize;
      color: $iconColor;
      display: inline-block;
      transition: 
         transform $duration ease,
         color $duration ease;
   }

   &:hover {
      &:after {
         transform: $transform;
      }
   }

   @if $theme == dark {
      .child { color: var(--dark); }
      &:after { color: var(--dark); }

      &:hover {
         .child, &:after {
            color: var(--action);
         }
      }

   } @else if $theme == slowDark {
      .child { color: var(--text_additional); }
      &:after { color: var(--text_additional); }

      &:hover {
         .child, &:after {
            color: var(--action);
         }
      }

   } @else if $theme == light {
      .child { color: var(--light); }
      &:after { color: var(--light); }

      &:hover {
         .child, &:after {
            color: var(--action);
         }
      }
   }
}

.ui-more_small {
   @include uiMore( $fSize: 15px );
   @include hoverLinkUnderline ( 
      $bgColorStart: var(--action),
      $bgYSize: 1px,
      $hoverChild: true
   );

   .child {
      padding: 2px 0;
   }
}

.ui-more_full-hover {
   @include uiMore;
   @include hoverLinkUnderline ( $fromEmptiness: false, $bgYSize: 1px, );

   padding-bottom: 8px;
   position: relative;
   z-index: 1;
}

.ui-more_basic {
   @include uiMore;
   @include hoverLinkUnderline ( 
      $bgColorStart: var(--action),
      $hoverChild: true,
   );
   
   .child {
      padding: 5px 0;
   }
}

.ui-more_basic-slow_dark {
   @include uiMore( $theme: slowDark );
   @include hoverLinkUnderline ( 
      $bgColorStart: var(--action),
      $bgYSize: 1px,
      $hoverChild: true,
   );
   
   .child {
      padding: 5px 0;
   }
}

