$freeArea: #10E866; 
$secondArea: #E81010;
$borderR: var(--mdRd);

#popup-delivery-areas {
   .ui-popup__container {
      max-width: 1200px;
   }

   .ui-popup__title {
      margin-bottom: 20px;
   }

   .delivery-text {
      margin: 0 auto 50px auto;
      font-size: 17px;
      font-weight: 300;
      line-height: 130%;
      color: var(--text_additional);
      text-align: center;
      max-width: 780px;

      strong {
         color: var(--text_selected_on_dark);
      }
   }

   // TODO Зоны доставки
   .delivery-areas {
      margin-bottom: 50px;
      display: grid;
      grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
      column-gap: 20px;
      row-gap: 10px;
   }

   .delivery-area {
      container-name: deliveryArea;
      container-type: inline-size;
      cursor: pointer;

      &__custom {
         padding: 25px clamp(20px, 7cqi, 30px);
         display: flex;
         align-items: center;
         gap: clamp(20px, 7cqi, 40px);
         outline: 1px solid transparent;
         background: var(--ui_darker);
         border-radius: $borderR;
         transition: background-color .2s ease outline-color .5s ease;
      }

      &__check {
         $size: clamp(50px, 18cqi, 70px);

         width: $size;
         height: $size;
         border-radius: var(--circleRd);
         background: transparent;
         border: 1px solid;
         position: relative;
         transition: all .2s ease;

         &:after {
            content: '\e90c';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: var(--icon_font);
            font-size: 30px;
            color: var(--light);
            opacity: 0;
            visibility: hidden;
            translate: 0 -30px;
            transition: all .3s ease;
         }
      }

      &__detail {
         display: flex;
         flex-direction: column;
         gap: 5px;
      }

      .area-price {
         font-size: clamp(28px, 9cqi, 35px);
         font-weight: 500;
         line-height: 100%;
         color: var(--light);
      }

      .area-color {
         font-size: 19px;
         font-weight: 300;
         line-height: 100%;
      }

      &.free_area {
         .delivery-area__check {
            border-color: $freeArea;
         }

         .area-color {
            color: $freeArea;
         }

         .delivery-area__input:checked ~ .delivery-area__custom {
            outline-color: $freeArea;

            .delivery-area__check {
               background: $freeArea;
            }
         }
      }

      &.second_area {
         .delivery-area__check {
            border-color: $secondArea;
         }

         .area-color {
            color: $secondArea;
         }

         .delivery-area__input:checked ~ .delivery-area__custom {
            outline-color: $secondArea;

            .delivery-area__check {
               background: $secondArea;
            }
         }
      }

      &:not(:has(.delivery-area__input:checked)):hover {
         .delivery-area__custom {
            background: var(--ui_dark);
         }
      }

      .delivery-area__input:checked ~ .delivery-area__custom {
         .delivery-area__check {
            &:after {
               opacity: 1;
               visibility: visible;
               translate: none;
            }
         }
      }


      @container (max-width: 300px) {
         &__custom {
            flex-direction: column;
            justify-content: center;
         }

         &__detail {
            flex-direction: column;
            align-items: center;
         }
      }
   }

   @container uiPopupContainer (max-width: 400px) {
      .delivery-areas {
         grid-template: auto / 1fr;
      }
   }


   // TODO Карта
   #map {
      width: 100%;
      height: 450px;
      border-radius: $borderR;
      overflow: hidden;
   }

}