#form-subscribe {
   margin: 0 auto;
   max-width: 500px;
   width: 100%;

   .ui-form-item {
      width: 100%;
   }
}

@container subscribe (max-width: 440px) {
   #form-subscribe {
      .ui-form-item {
         .input_subscribe {
            padding-right: 10px;
         }

         .element-inside-input {
            margin: 5px auto 0 auto;
            position: relative;
            // max-width: 100%;
            // width: 100%;
         }
      }
   }
}