@import '../post-card/post-card';

.post-list {
   display: grid;
   grid-template: auto / repeat(2, 1fr);
   gap: var(--default_padding);

   @include media (max-width, 1200px) {
      grid-template: auto / 1fr 1fr;
   }

   @include media (max-width, 800px) {
      grid-template: auto / 1fr;
   }
}