@import '../../../../components/category-card/category-card';

.category-section {
   padding-top: var(--section_padding);
   padding-bottom: 100px;

   .category-list {
      display: grid;
      grid-template: auto / repeat(3, 1fr);
      gap: 20px;
   }

   @include media (max-width, 1000px) {
      .category-list {
         grid-template: auto / 1fr 1fr;
      }
   }

   @include media (max-width, 600px) {
      .category-list {
         grid-template: 1fr / 1fr;
      }
   }
}


