<search role="search">
   <form class="ui-form" action="" method="" id="form-search-main">
      <div class="ui-form-item">
         <input type="text" name="user_subscribe" inputmode="text" autocomplete="on" placeholder="Поиск..." class="ui-input input_search-main ">
         @@include('../../ui/ui-button/ui-btn/ui-button.html', {
            "text": "Найти",
            "className": "btn_search-main element-inside-input right",
            "type": "submit"
         })
      </div>
   </form>
</search>