.ui-tabs {
   overflow-x: auto;
   overflow-y: visible;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: var(--small_tabs_padding);

   &::-webkit-scrollbar {
      display: none;
   }

   @include media (max-width, 700px) {
      justify-content: flex-start;
   }
}

@mixin tab (
   $paddingX: 40px,
   $fSize: 17px,
   $color: var(--dark),
   $bg: transparent,
   $borderColor: var(--border),
   $border: 1px solid $borderColor,
   $maxWidth: auto,
   $height: 45px,
   $transition: all .2s ease,
   $freeWidth: false,
   $type: primary,
) {
   padding: 5px $paddingX;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: inherit;
   font-size: $fSize;
   font-weight: 400;
   line-height: 100%;
   color: $color;
   background: $bg;
   border: $border;
   border-radius: var(--defaultRd);
   height: $height;
   white-space: nowrap;
   transition: $transition;

   @if $type == primary {
      $paddingX: 40px;
      $fSize: 17px;
      $height: 45px;

      padding: 5px $paddingX;
      font-size: $fSize;
      height: $height;

   } @else if $type == secondary {
      $paddingX: 25px;
      $fSize: 17px;
      $height: 39px;

      padding: 5px $paddingX;
      font-size: $fSize;
      height: $height;
   } @else {
      @error "Такого типа вкладки не существует #{$type}.";
   }

   @if $freeWidth {
      max-width: $maxWidth;
      width: 100%;
   }

   &:hover {
      background: var(--border);
   }

   &.active {
      color: var(--light);
      background: var(--dark);
      border-color: var(--dark);
   }
}

.ui-tab {
   @include tab( $type: secondary )
}