<div class="header-ui">
   @@include('../../ui/ui-button/ui-circle-icon/ui-circle-icon.html', {
      "classNameIcon": "search",
      "className": "circle-icon_transparent btn_search"
   })

   @@loop('../../ui/ui-button/ui-circle-icon/ui-circle-icon-menu.html', [
      {
         "classNameIcon": "heart",
         "counter": "2",
         "className": "btn_favourites"
      },
      {
         "classNameIcon": "compare",
         "counter": "99",
         "className": "btn_compare"
      },
      {
         "classNameIcon": "cart",
         "counter": "56",
         "className": "btn_cart"
      }
   ])
</div>