@import './header-top/header-top';
@import './header-menu/header-menu';
@import './header-menu/submenu/submenu';
@import './header-additional/header-additional';
@import './header-logined/header-user';

header {
   margin: 0 var(--default_padding);
   background: var(--separating);
   border-radius: var(--mdRd);
   position: sticky;
   top: 0;
   z-index: 2;
   transition: all .2s ease;

   .ui-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
   }

   .logo {
      max-width: 190px;
      transition: all .2s ease;

      img {
         max-width: 100%;
         height: auto;
      }
   }

   &.sticky {
      margin: 0 auto;
      width: 100%;
      border-radius: 0;
      transition: all .2s ease;

      .logo {
         max-width: 160px;
      }
   }
   

   @include media(max-width, 1050px) {
      padding: 10px 0;

      &.sticky {
         padding: 10px 0;
      }

      .logo {
         max-width: 170px;
      }
   }

   @include media(max-width, 500px) {
      .ui-container {
         gap: 15px;
      }
   }

   @include media(max-width, 320px) {
      .logo {
         max-width: 60px;
      }
   }
}