<header>
   <div class="ui-container">
      @@include('../ui/ui-button/ui-btn-circle/ui-btn-circle.html', {
         "icon": "search",
         "className": "btn_search"
      })
      
      @@include('./header-menu/header-menu.html')

      <div class="header-controls">
         @@loop('../ui/ui-button/ui-btn-circle/btn-circle-header.html', [
            {
               "icon": "cart",
               "count": "56",
               "className": "btn_header-favourites"
            },
            {
               "icon": "cart",
               "count": "56",
               "className": "btn_header-compare"
            },
            {
               "icon": "cart",
               "count": "56",
               "className": "btn_header-cart"
            }
         ])
      </div>
   </div>
</header>