@import './header-top/header-top';
@import './header-menu/header-menu';
@import './header-menu/submenu/submenu';
@import './header-additional/header-additional';
@import './header-logined/header-user';

header {
   margin: 0 var(--default_padding);
   background: var(--separating);
   border-radius: var(--mdRd);

   

   .ui-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
   }

   .logo {
      max-width: 190px;

      img {
         max-width: 100%;
         height: auto;
      }
   }

   &.sticky {
      margin: 0 auto;
      position: fixed;
      top: 10px;
      left: 10px;
      background: var(--separating_contrast);
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      width: calc(100% - 10px * 2);
      z-index: 2;
      box-shadow: 0 8px 25px 0px rgba(0,0,0,.07);

      &.active {
         transform: none;
         opacity: 1;
         visibility: visible;
         transition: all .5s ease;
      }
   }
   

   @include media(max-width, 1050px) {
      padding: 10px 0;

      &.sticky {
         padding: 10px 0;
      }

      .logo {
         max-width: 170px;
      }
   }

   @include media(max-width, 500px) {
      .ui-container {
         gap: 15px;
      }
   }

   @include media(max-width, 320px) {
      .logo {
         max-width: 60px;
      }
   }
}