<!-- popup answer (popup ответ на комментарий в блоге - пока не используется) -->
<div class="ui-popup popup" id="popup-answer">
   <div class="ui-popup__container">

      <!-- Здесь контент -->
      <h3 class="ui-popup__title">Ответ на комментарий</h3>

      @@include('./answer/answer.html')
      @@include('../../forms/form-answer/form-answer.html')
      <!-- Здесь контент -->

      @@include('../../ui/ui-close/ui-close.html', {
         "className": "close_popup popup-answer-close",
         "classNameIcon": "close"
      })
   </div>

   <div class="ui-popup__overlay" id="overlay-answer"></div>
</div>
<!-- End popup answer -->