$gapDefault: 40px;
$fadePaddingX: clamp(var(--default_padding), 5cqi, var(--fade_on_the_side_padding));
$fadePadding: 110px $fadePaddingX 40px $fadePaddingX;
$transitionDuration: .2s ease;

.fade-side {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   display: grid;
   background: var(--overlay);
   opacity: 0;
   visibility: hidden;
   z-index: 2;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all .2s ease .3s;

   &::-webkit-scrollbar {
      display: none;
   }

   &__content {
      padding: $fadePadding;
      justify-self: end;
      align-self: start;
      max-width: var(--fade_on_the_side_width);
      width: 100%;
      min-height: 100dvh;
      background: var(--dark);
      position: relative;
      container-name: fadeSideContent;
      container-type: inline-size;
      transform: translateX(calc(30px + var(--fade_on_the_side_width)));
      z-index: 2;
      transition: all .5s ease;
   }

   &.left_side {
      .fade-side__content {
         transform: translateX(calc(-1 * (30px + var(--fade_on_the_side_width))));
         justify-self: start;
      }
   }

   &.active {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;

      .fade-side__content {
         transform: none;
         transition-delay: 0s;
      }
   }

   .btn-group {
      display: grid;
      grid-template: auto / repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 15px;

      .btn_cart {
         @include buttonIcon (
            $type: primary,
            $theme: action,
            $freeWidth: true,
            $maxWidth: 100%,
         )
      }

      .btn_order {
         @include button (
            $type: primary,
            $theme: outlines,
            $childTheme: outlinesLight,
            $freeWidth: true,
            $maxWidth: 100%,
         );

         &:hover {
            border-color: var(--action);
            background: var(--action);
         }
      }
   }

   .link-group {
      margin-top: 80px;
      display: grid;
      grid-template: auto / max-content 1fr;
      column-gap: 30px;
      row-gap: 15px;

      .btn_cart {
         @include buttonIcon (
            $type: primary,
            $theme: action,
         )
      }
   }
}

@container fadeSideContent (max-width: 540px) {
   .fade-side .btn-group, .fade-side .link-group {
      margin: 0 auto;
      grid-template: 1fr 1fr / 1fr;
      max-width: 350px;
   }

   .fade-side .link-group {
      margin: 80px auto 0 auto;

      .ui-move-link {
         justify-self: center;
      }
   }
}
 

// NOTE Заголовок
.fade-side__name {
   margin-bottom: 60px;
   font-size: 40px;
   font-weight: 500;
   line-height: 110%;
   color: var(--light);

   &.underline {
      padding-bottom: 10px;
      position: relative;

      &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 70px;
         height: 2px;
         background: var(--light);
         border-radius: var(--defaultRd);
      }
   }
}


#fade-filters {
   .fade-side__content {
      padding: 60px $fadePaddingX 40px $fadePaddingX;
      max-width: 450px;

   }

   .filters-form__nav {
      margin-top: 40px;
   }

   .btn-group {
      margin: 0;
      display: grid;
      grid-template: auto / repeat(auto-fill, minmax(140px, 1fr));
      row-gap: 15px;
      column-gap: 20px;
      max-width: 100%;

      .btn_filter_apply {
         @include button (
            $type: ui,
            $theme: action,
            $freeWidth: true,
            $maxWidth: 100%
         )
      }

      .btn_filter_cancel {
         @include button (
            $type: ui,
            $theme: outlines,
            $childTheme: outlinesLight,
            $freeWidth: true,
            $maxWidth: 100%
         );
         border-color: var(--text_additional);

         &:hover {
            background: var(--text_additional);
         }
      }
   }

   .products-count {
      margin-bottom: 20px;
      font-size: 17px;
      font-weight: 300;
      line-height: 100%;
      color: var(--text_additional);
      text-align: center;

      strong {
         color: var(--light);
      }
   }
}

#filters-form {
   height: 100dvh;
   display: grid;
   grid-template: min-content 1fr min-content / 1fr;

   .filters-form__content {
      margin-right: -15px;
      padding-right: 15px;
      overflow-y: auto;

      &::-webkit-scrollbar {
         background: transparent;
         width: 4px;
         height: 4px;
      }
      
      &::-webkit-scrollbar-thumb {
         background: var(--ui_dark);
         border-radius: 50px;
      }
      
      &::-webkit-scrollbar-corner {
         background: transparent;
      }
   }
}

@container fadeSideContent (max-height: 680px) {
   #filters-form {
      .filters-form__content {
         min-height: 350px;
      }
   }
}





// NOTE Compare and Cart
.fade-product-wrap {
   margin: -20px 0 0 -20px;
   padding: 20px 0 20px 20px;
   overflow-y: visible;
   overflow-x: auto;

   &::-webkit-scrollbar {
      display: none;
   }
}

.fade-product-list {
   display: grid;
   grid-template: auto / 1fr;
   gap: 20px;
   min-width: 570px;
}