.ui-star {
   cursor: pointer;
   
   &__icon {
      font-size: 40px;
      color: var(--ui_dark);
      transition: all .2s ease;
   }

   &__input {
      &:checked + .ui-star__icon {
         color: var(--active_star);
      }
   }

   &:hover {
      .ui-star__icon {
         color: var(--active_star);
      }

      & ~ .ui-star .ui-star__icon {
         color: var(--active_star);
      }
   }

   &:has(.ui-star__input:checked) {
      & ~ .ui-star .ui-star__icon {
         color: var(--active_star);
      }
   }
}