<!-- Изображения товара -->
<div class="product-img-container swiper-container">

   <!-- Main slider -->
   <div class="swiper product-img product-img__main">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <img src="../../../img/cards/card_6_2.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_17.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_6.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_3.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_5.webp" alt="">
         </div>
      </div>
   </div>

   <!-- Thumb slider -->
   <div thumbsSlider class="swiper product-img product-img__thumbs">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <img src="../../../img/cards/card_6_2.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_17.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_6.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_3.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_5.webp" alt="">
         </div>
      </div>
   </div>
</div>