<!-- Изображения товара -->
<div class="product-images-container swiper-container" id="product-images-swiper">
   <!-- Main slider -->
   <div class="swiper product-images product-images2">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <img src="../../../img/cards/card_5.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_5.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_5.webp" alt="">
         </div>
      </div>
   </div>

   <!-- Thumb slider -->
   <div thumbsSlider class="swiper product-images product-images1">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <img src="../../../img/cards/card_5.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_5.webp" alt="">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/cards/card_5.webp" alt="">
         </div>
      </div>
   </div>
</div>