<!-- Изображения товара (product page) -->
<div class="product-img-container swiper-container">

   <!-- Main slider -->
   <div class="swiper product-img product-img__main">
      <div class="swiper-wrapper">
         <div class="swiper-slide btn_image-preview">
            <img src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_1_lg.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide btn_image-preview">
            <img src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_2_lg.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide btn_image-preview">
            <img src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_3_lg.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide btn_image-preview">
            <img src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_4_lg.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide btn_image-preview">
            <img src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_5_lg.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide btn_image-preview">
            <img src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_6_lg.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide btn_image-preview">
            <img src="../../../img/product/iphone_15/yellow/large/iphone_15_yellow_7_lg.webp" alt="iPhone 15 yellow">
         </div>
      </div>
   </div>

   <!-- Thumb slider -->
   <div thumbsSlider class="swiper product-img product-img__thumbs">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <img src="../../../img/product/iphone_15/yellow/thumbs/iphone_15_yellow_1_thumb.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/product/iphone_15/yellow/thumbs/iphone_15_yellow_2_thumb.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/product/iphone_15/yellow/thumbs/iphone_15_yellow_3_thumb.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/product/iphone_15/yellow/thumbs/iphone_15_yellow_4_thumb.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/product/iphone_15/yellow/thumbs/iphone_15_yellow_5_thumb.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/product/iphone_15/yellow/thumbs/iphone_15_yellow_6_thumb.webp" alt="iPhone 15 yellow">
         </div>

         <div class="swiper-slide">
            <img src="../../../img/product/iphone_15/yellow/thumbs/iphone_15_yellow_7_thumb.webp" alt="iPhone 15 yellow">
         </div>
      </div>
   </div>

   <div class="btn_circle swiper-arrow light basic-swiper_arrow centerY prev"></div>
   <div class="btn_circle swiper-arrow light basic-swiper_arrow centerY next"></div>
</div>
<!-- End Изображения товара (product page) -->