@import './notification-adding/notification-adding';

.ui-notification {
   &__title {
      margin-bottom: 20px;
      font-size: 19px;
      font-weight: 500;
      line-height: 100%;
      color: var(--dark);
      z-index: 4;
   }

   &.notification_adding {
      padding: 15px 20px 15px 15px;
      position: fixed;
      bottom: 30px;
      left: 30px;
      width: 315px;
      background: var(--light);
      border-radius: var(--mdRd);
      box-shadow: var(--notification_shadow);
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
      transition: all .3s ease;

      &.active {
         opacity: 1;
         visibility: visible;
         transform: none;
      }
   }
}

.notification-adding-list {
   position: fixed;
   bottom: 30px;
   left: 30px;
}