<div class="product-list">
   @@loop('../product-card/product-card/product-card.html', [
      {
         "img": "../../../img/optimized/cards/card_3.webp",
         "imgHover": "../../../img/optimized/cards/card_3_2.webp",
         "title": "iPhone 15 Plus",
         "price": "190 990 ₽",
      },
      {
         "img": "../../../img/optimized/cards/card_1.webp",
         "imgHover": '',
         "title": "MacBook Pro (M2 Pro, 2023)",
         "price": "300 990 ₽",
      },
      {
         "img": "../../../img/optimized/cards/card_2.webp",
         "imgHover": '',
         "title": "Samsung Galaxy S23 Ultra в комплекте с Buds 2 Pro",
         "price": "170 990 ₽",
      },
      {
         "img": "../../../img/optimized/cards/card_4.webp",
         "imgHover": '',
         "title": "iPad Pro (6th Gen, 2022)",
         "price": "160 990 ₽",
      },
      {
         "img": "../../../img/optimized/cards/card_5.webp",
         "imgHover": '',
         "imgHover": "../../../img/optimized/cards/card_5_2.webp",
         "title": "iPhone 15 Pro Max",
         "price": "210 990 ₽",
      },
      {
         "img": "../../../img/optimized/cards/card_6.webp",
         "imgHover": '',
         "title": "MacBook Air 15",
         "price": "300 990 ₽",
      },
      {
         "img": "../../../img/optimized/cards/card_7.webp",
         "imgHover": '',
         "title": "Mac Mini",
         "price": "190 990 ₽",
      },
      {
         "img": "../../../img/optimized/cards/card_16.webp",
         "imgHover": '',
         "title": "ASUS VivoBook 15 M1502IA-BQ011W",
         "price": "270 990 ₽",
      },
   ])
</div>