$transition: all .2s ease;

.product-counter {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   border-radius: var(--defaultRd);
   gap: 20px;

   i {
      color: var(--text_additional);
      cursor: pointer;
      transition: $transition;
   }

   .count {
      font-weight: 400;
      line-height: 70%;
      text-align: center;
      border: none;
      outline: none;
      background: transparent;

   }

   &.product_cart {
      padding: 0 10px;
      background: var(--ui_dark);
      height: 35px;
      width: max-content;

      .count {
         font-size: 19px;
         color: var(--light);
         max-width: 35px;
         width: 100%;
         height: 21px;
      }

      i {
         font-size: 14px;

         &:hover {
            color: var(--light);
         }
      }
   }

   &.product_info {
      padding: 0 20px;
      width: 100%;

      .count {
         font-size: 21px;
         max-width: clamp(35px, 3cqi, 70px);
      }

      i {
         font-size: 16px;
      }

      &.product_page {
         height: 60px;
      }
   
      &.quickview {
         background: var(--ui_dark);
         height: 50px;
   
         .count {
            color: var(--light);
         }
   
         i:hover {
            color: var(--light);
         }
      }
   }
}