<form action="" class="address-delivery dark" id="form-calc-delivery">
   @@include('../address-delivery/address-delivery.html')

   <div class="ui-form__submit">
      @@include('../../ui/ui-checkbox/ui-checkbox.html', {
         "name": "save_delivery_data",
         "value": "Сохранить введенные данные"
      })

      @@include('../../ui/ui-button/ui-btn/ui-button.html', {
         "text": "Рассчитать",
         "type": "submit",
         "className": "btn_small-action",
      })
   </div>
</form>