<form action="" class="ui-form three-fields" id="form-answer">
   <div class="ui-form-item">
      <input type="text" name="user_name" inputmode="text" autocomplete="name" placeholder="Имя" class="ui-input_popup ">
      <span class="error-message"></span>
   </div>
   
   <div class="ui-form-item">
      <input type="email" name="user_email" inputmode="email" autocomplete="email" placeholder="Email" class="ui-input_popup ">
      <span class="error-message"></span>
   </div>
   
   <div class="ui-form-item full-width">
      <textarea name="user_review" placeholder="Ответ" class="ui-textarea theme_dark"></textarea>
      <span class="error-message"></span>
   </div>
   
   <div class="ui-form-submit">
      @@include('../../ui/ui-button/ui-btn/ui-button.html', {
         "text": "Ответить",
         "className": "btn_primary-action",
         "type": "submit"
      })
      
      <p class="ui-form-submit__text btn_policy">Конфиденциальность введенных данных гарантируется</p>
   </div>
</form>