footer {
   padding: 80px 0 0 0;
   container: footer;
   container-type: inline-size;
   background: var(--dark);


   @extend %fullWidthElement;
   @extend %dynamicRadius40to25;

   .footer-inside {
      padding: 0 20px;
      display: grid;
      grid-template: auto / 1fr 1.5fr;
      gap: 100px;
   }

   .footer-col {
      &.main {
         .logo {
            display: inline-block;
            max-width: 200px;

            img {
               max-width: 100%;
               height: auto;
            }
         }

         .text {
            margin: 50px 0;
            font-size: 25px;
            font-weight: 300;
            line-height: 140%;
            color: var(--light);
            max-width: 450px;
         }
      }

      &.navigation {
         display: grid;
         grid-template: auto / repeat(3, max-content);
         justify-self: end;
         gap: clamp(70px, 6cqi, 120px);

         .links-col {
            margin-top: 7px;
         }

         .navigation-title {
            margin-bottom: 47px;
            font-size: clamp(20px, 3cqi, 25px);
            font-weight: 500;
            line-height: 100%;
            color: var(--light);
            white-space: nowrap;
         }

         .navigation-list {
            li {
               &:not(:last-child) {
                  margin-bottom: 17px;
               }

               a {
                  padding-bottom: 3px;
                  font-size: 18px;
                  font-weight: 300;
                  line-height: 100%;
                  color: var(--text_additional);
                  transition: background-size .2s ease, color .2s ease, transform .2s ease;
               }

               &:hover {
                  a {
                     color: var(--light);
                     transform: translateX(2px);
                  }
               }
            }
         }
      }

      &.contact {
         .phone {
            font-size: clamp(30px, 4cqi, 35px);
            font-weight: 500;
            line-height: 100%;
            color: var(--light);
            white-space: nowrap;
            transition: all .2s ease;

            &:hover {
               color: var(--action);
            }
         }

         .contact-inside {
            margin-top: 35px;
            margin-bottom: 60px;

            &__item {
               font-size: 20px;
               font-weight: 300;
               line-height: 100%;
               color: var(--light);
               white-space: nowrap;

               strong {
                  color: var(--text_additional)
               };

               &.contact_email {
                  margin-bottom: 15px;
                  padding-bottom: 15px;
                  display: inline-block;
                  position: relative;

                  &:after {
                     content: '';
                     position: absolute;
                     bottom: 0;
                     left: 0;
                     width: 35%;
                     height: 1px;
                     background: var(--action);
                  }
               }
            }

            a.contact-inside__item {
               transition: all .2s ease;

               &:hover {
                  color: var(--action);
               }
            }
         }
      }
   }

   @container footer (max-width: 1600px) {
      .footer-inside {
         padding: 0 40px;
      }
   }

   @container footer (max-width: 1130px) {
      .footer-inside {
         padding: 0 clamp(20px, 3cqi, 40px);
         grid-template: auto / 1fr;
      }

      .footer-col {
         justify-self: center;

         &.main {
            display: flex;
            flex-direction: column;
            align-items: center;

            .text {
               margin: 35px 0;
               text-align: center;
            }
         }

         &.navigation {
            justify-self: center;
            gap: clamp(70px, 11cqi, 120px);
         }
      }
   }

   @container footer (max-width: 680px) {
      .footer-col {
         &.navigation {
            grid-template: auto / 1fr 1fr;
            column-gap: clamp(70px, 20cqi, 120px);
            row-gap: 100px;

            .links-col {
               justify-self: center;
            }

            .contact {
               grid-column: 1 / 3;
               display: flex;
               flex-direction: column;
               align-items: center;

               .phone {
                  font-size: clamp(30px, 7cqi, 40px);
               }
            }
         }
      }
   }

   @container footer (max-width: 360px) {
      .footer-inside {
         gap: 70px;
      }

      .footer-col {
         &.navigation {
            grid-template: auto / 1fr;
            gap: 50px;

            .navigation-title {
               margin-bottom: 30px;
            }

            .navigation-list {
               display: flex;
               flex-direction: column;
               align-items: center;
            }

            .links-col {
               margin-top: 0;
               display: flex;
               flex-direction: column;
               align-items: center;
            }

            .contact {
               margin-top: 20px;
               grid-column: 1 / 2;

               .contact-inside {
                  margin-top: 20px;
                  margin-bottom: 40px;
               }

               .contact-inside__item {
                  font-size: 18.5px;
               }
            }
         }
      }
   }

   // @container footer (max-width: 1030px) {
   //    .footer-inside {
   //       grid-template: auto / 1fr 1fr;
   //       gap: 50px;
   //       max-width: 950px;
   //    }

   //    .footer-col {
   //       &.main {
   //          order: 1;

   //          .text {
   //             margin: 40px 0;
   //          }
   //       }

   //       &.contact {
   //          order: 2;
   //          justify-self: end;

   //          .phone {
   //             font-size: clamp(28px, 5.5cqi, 40px);
   //          }
   //       }

   //       &.navigation {
   //          margin-top: 60px;
   //          order: 3;
   //          grid-column: 1 / 3;
   //          justify-content: space-between;
   //          width: 100%;
   //          gap: clamp(30px, 7cqi, 100px);
   //          max-width: 400px;
   //       }
   //    }
   // }

   // @container footer (max-width: 620px) {
   //    padding: 80px 0 50px 0;
      
   //    .footer-inside {
   //       grid-template: auto / 1fr;
   //       gap: 70px;
   //    }

   //    .footer-col {
   //       width: 100%;

   //       &.main, &.contact {
   //          justify-self: start;
   //          display: flex;
   //          flex-direction: column;
   //          align-items: center;
   //       }

   //       &.main {
   //          .text {
   //             margin: 40px 0;
   //             text-align: center;
   //          }
   //       }

   //       &.contact {
   //          .contact-inside {
   //             margin-top: 25px;
   //             margin-bottom: 50px;
   //             max-width: 300px;
   //             width: 100%;
   //             display: flex;
   //             flex-direction: column;
   //             align-items: center;
   //          }

   //          .contact-inside__item {
   //             width: 100%;
   //             text-align: center;
   //          }

   //          .phone {
   //             font-size: clamp(28px, 11cqi, 40px);
   //          }
   //       }

   //       &.navigation  {
   //          margin-top: 0;
   //          grid-column: 1 / 2;
   //       }
   //    }
   // }

   // @container footer (max-width: 490px) {
   //    .footer-inside {
   //       padding: 0 clamp(15px, 3cqi, 20px);
   //    }
   //    .footer-col {
   //       &.navigation, .navigation-col, .navigation-list {
   //          display: flex;
   //          flex-direction: column;
   //          align-items: center;
   //          justify-content: center;

   //          .navigation-title {
   //             margin-bottom: 30px;
   //             font-size: 25px;
   //          }
   //       }

   //       &.navigation {
   //          gap: 60px;
   //       }

   //       &.contact {
   //          .contact-inside__item {
   //             font-size: clamp(17px, 7cqi, 20px);
   //          }
   //       }
   //    }
   // }
}