footer {
   padding: 80px 0 0 0;
   container: footer;
   container-type: inline-size;
   background: var(--dark);


   @extend %fullWidthElement;
   @extend %dynamicRadius40to25;

   .footer-inside {
      padding: 0 40px;
      display: grid;
      grid-template: auto / minmax(250px, 350px) 1fr min-content;
      align-items: flex-start;
      gap: clamp(40px, 3cqi, 112px);
   }

   .footer-col {
      &.main {
         .logo {
            display: inline-block;
            max-width: 200px;

            img {
               max-width: 100%;
               height: auto;
            }
         }

         .text {
            margin: 50px 0;
            font-size: 23px;
            font-weight: 300;
            line-height: 140%;
            color: var(--light);
            max-width: 320px;
         }
      }

      &.navigation {
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         justify-self: center;
         gap: clamp(30px,7cqi,140px);

         .navigation-title {
            margin-bottom: 47px;
            font-size: clamp(20px, 3cqi, 25px);
            font-weight: 500;
            line-height: 100%;
            color: var(--light);
            white-space: nowrap;
         }

         .navigation-list {
            li {
               &:not(:last-child) {
                  margin-bottom: 17px;
               }

               a {
                  padding-bottom: 3px;
                  font-size: 18px;
                  font-weight: 300;
                  line-height: 100%;
                  color: var(--text_additional);
                  transition: background-size .2s ease, color .2s ease, transform .2s ease;
               }

               &:hover {
                  a {
                     color: var(--light);
                     transform: translateX(2px);
                  }
               }
            }
         }
      }

      &.contact {
         .phone {
            padding-bottom: 5px;
            font-size: clamp(35px, 4cqi, 35px);
            font-weight: 500;
            line-height: 100%;
            color: var(--light);
            white-space: nowrap;
            transition: all .2s ease;

            &:hover {
               color: var(--action);
            }
         }

         .contact-inside {
            margin-top: 35px;
            margin-bottom: 60px;

            &__item {
               font-size: 20px;
               font-weight: 300;
               line-height: 100%;
               color: var(--light);
               white-space: nowrap;

               strong {
                  color: var(--text_additional)
               };

               &:last-child {
                  margin-top: 15px;
                  padding-top: 15px;
                  border-top: 1px solid var(--action);
               }
            }

            a.contact-inside__item {
               transition: all .2s ease;

               &:hover {
                  color: var(--action);
               }
            }
         }
      }
   }

   @container footer (max-width: 1030px) {
      .footer-inside {
         grid-template: auto / 1fr 1fr;
         gap: 50px;
         max-width: 950px;
      }

      .footer-col {
         &.main {
            order: 1;

            .text {
               margin: 40px 0;
            }
         }

         &.contact {
            order: 2;
            justify-self: end;

            .phone {
               font-size: clamp(28px, 5.5cqi, 40px);
            }
         }

         &.navigation {
            margin-top: 60px;
            order: 3;
            grid-column: 1 / 3;
            justify-content: space-between;
            width: 100%;
            gap: clamp(30px, 7cqi, 100px);
            max-width: 400px;
         }
      }
   }

   @container footer (max-width: 620px) {
      padding: 80px 0 50px 0;
      
      .footer-inside {
         grid-template: auto / 1fr;
         gap: 70px;
      }

      .footer-col {
         width: 100%;

         &.main, &.contact {
            justify-self: start;
            display: flex;
            flex-direction: column;
            align-items: center;
         }

         &.main {
            .text {
               margin: 40px 0;
               text-align: center;
            }
         }

         &.contact {
            .contact-inside {
               margin-top: 25px;
               margin-bottom: 50px;
               max-width: 300px;
               width: 100%;
               display: flex;
               flex-direction: column;
               align-items: center;
            }

            .contact-inside__item {
               width: 100%;
               text-align: center;
            }

            .phone {
               font-size: clamp(28px, 11cqi, 40px);
            }
         }

         &.navigation  {
            margin-top: 0;
            grid-column: 1 / 2;
         }
      }
   }

   @container footer (max-width: 490px) {
      .footer-inside {
         padding: 0 clamp(15px, 3cqi, 20px);
      }
      .footer-col {
         &.navigation, .navigation-col, .navigation-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .navigation-title {
               margin-bottom: 30px;
               font-size: 25px;
            }
         }

         &.navigation {
            gap: 60px;
         }

         &.contact {
            .contact-inside__item {
               font-size: clamp(17px, 7cqi, 20px);
            }
         }
      }
   }
}