.socials {
   display: flex;
   align-items: center;
   gap: var(--slRd);

   a {
      width: 35px;
      height: 35px;
      background: transparent;
      border: 1px solid var(--border);
      border-radius: var(--circleRd);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease;

      i {
         font-size: 19px;
         color: var(--dark);
         transition: inherit;
      }

      &:hover {
         background: var(--dark);
         border-color: var(--dark);
         transform: translateY(-3px);

         i {
            color: var(--action);
         }
      }
   }
}