.socials {
   display: flex;
   align-items: center;
   gap: var(--slRd);

   a {
      width: 35px;
      height: 35px;
      background: transparent;
      border: 1px solid var(--border);
      border-radius: var(--circleRd);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease;

      i {
         font-size: 19px;
         color: var(--dark);
         transition: inherit;
      }

      &:hover {
         background: var(--dark);
         border-color: var(--dark);
         transform: translateY(-3px);

         i {
            color: var(--action);
         }
      }
   }

   &.only_icon {
      gap: 30px;
      a {
         width: auto;
         height: auto;
         border: none;

         i {
            font-size: 17px;
            color: var(--light);
         }

         &:hover {
            background: transparent;
            border-color: transparent;
            
            i {
               color: var(--action);
            }
         }
      }
   }

   &.mobile_menu {
      a {
         border: none;
         background: var(--ui_dark);

         i {
            font-size: 17px;
            color: var(--action);
         }
         
         &:hover {
            background: var(--action);
            
            i {
               color: var(--light)
            };
         }
      }
   }

   &.socials_about {
      a {
         border-color: transparent;
         background: transparent;

         i {
            color: var(--light);
         }

         &:hover {
            background: var(--dark);
            border-color: var(--dark);

            i {
               color: var(--action);
            }
         }
      }
   }

   &.socials_header {
      gap: 5px;

      a {
         border-color: transparent;
         background: transparent;
         width: 30px;
         height: 30px;
         transition: all .2s ease;

         i {
            font-size: 15px;
            color: var(--dark);
         }

         &:hover {
            background: var(--dark);

            i {
               color: var(--action);
            }
         }
      }
   }
}

@container mobileMenu (max-width: 300px) {
   .socials.mobile_menu {
      gap: clamp(10px, 3cqi, 15px);
   }
}