@import './review/review';

.reviews-section {
   padding-bottom: var(--section_gutter);

   .ui-section-title {
      margin-bottom: 40px;
      max-width: 340px;
   }

   .reviews-container {
      .swiper-arrows {
         position: absolute;
         top: -70px;
         right: 0;
         display: flex;
         gap: 10px;
         z-index: 2;
      }
   }

   @include media (max-width, 600px) {
      .reviews-container {
         .swiper-arrows {
            top: 50%;
            left: 0;
            right: auto;
            transform: translateY(-50%);
            width: 100%;
            justify-content: space-between;
         }
      }
   }
}