<div class="copyright">
   <div class="payments">
      <img src="../../img/payments/pay_1.svg" alt="">
      <img src="../../img/payments/pay_2.svg" alt="">
      <img src="../../img/payments/pay_3.svg" alt="">
      <img src="../../img/payments/pay_4.svg" alt="">
      <img src="../../img/payments/pay_5.svg" alt="">
      <img src="../../img/payments/pay_6.svg" alt="">
      <img src="../../img/payments/pay_7.svg" alt="">
      <img src="../../img/payments/pay_8.svg" alt="">
      <img src="../../img/payments/pay_9.svg" alt="">
      <img src="../../img/payments/pay_10.svg" alt="">
   </div>

   <div class="rules">
      <span class="rules__link hoverLinks">Политика конфиденциальности</span>
      <span class="rules__link hoverLinks">Правила и условия</span>
   </div>

   <p class="copyright-text">Copyright &copy; OMA. Все права защищены</p>
</div>