<div class="ui-pagination">
   @@include('../ui-button/ui-btn-icon/ui-button-icon.html', {
      "text": "Посмотреть еще",
      "className": "btn_more",
      "classNameIcon": "arrow_more",
      "type": "button"
   })

   <div class="pagination">
      <a href="" class="pagination__item back disabled"></a>
      <a href="" class="pagination__item current">1</a>
      <a href="" class="pagination__item">2</a>
      <a href="" class="pagination__item">3</a>
      <a href="" class="pagination__item forward"></a>
   </div>
   
   <div class="pagination-count">Показано товаров: <span class="count">20</span></div>
</div>