.ui-pagination {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;

   .btn_dynamic-loading {
      margin-bottom: 20px;
      width: 60px;
      height: 60px;
      background: var(--light);
      box-shadow: var(--light_btn_shadow);
      border-radius: var(--circleRd);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease;

      i {
         font-size: 26px;
         color: var(--dark);
         transition: all .8s ease;
      }

      &:hover {
         background: var(--separating_contrast);
         box-shadow: none;

         i {
            transform: rotate(360deg);
         }
      }
   }

   // TODO pagination (страницы)
   .pagination {
      display: flex;
      align-items: center;
      gap: 5px;

      &__item {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 45px;
         height: 45px;
         background: transparent;
         border-radius: var(--circleRd);
         font-size: 18px;
         font-weight: 400;
         line-height: 100%;
         color: var(--dark);
         transition: all .2s ease;

         &.back, &.forward {
            &:before {
               font-family: var(--icon_font);
               font-size: 16px;
               color: var(--dark);
               transition: inherit;
            }
         }

         &.back:before {
            content: '\e902';
         }

         &.forward:before {
            content: '\e905';
         }

         &:hover {
            background: var(--separating_contrast);
         }

         &.current {
            background: var(--dark);
            color: var(--light);
         }

         &.disabled,
         &.disabled.back:before, &.disabled.forward:before {
            background: transparent;
            color: var(--border);
            cursor: not-allowed;
         }
      }
   }

   &.left {
      align-items: flex-start;
   }
}