.product-order-card {
   container-name: productOrderCard;
   container-type: inline-size;

   .product-img {
      border-radius: var(--mdRd);
      background: var(--separating);
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: all .2s ease;

      img {
         max-width: 100%;
         height: auto;
      }

      .product-color {
         position: absolute;
         bottom: 10px;
         right: 10px;
         width: 35px;
         height: 35px;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: var(--circleRd);
         background: var(--light);
         box-shadow: var(--light_btn_shadow);

         .color {
            width: 31px;
            height: 31px;
            border-radius: var(--circleRd);
            background: #D0C5BE;
            box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.45) inset;
         }
      }
   }

   .product-info {
      margin: 10px 0 15px 0;
      padding: 0 10px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;

      .product-title {
         font-size: 19px;
         font-weight: 300;
         line-height: 105%;
         color: var(--dark);
         max-width: 200px;
         transition: all .2s ease;
      }

      .product-count {
         font-size: 16px;
         font-weight: 300;
         line-height: 100%;
         color: var(--text_additional);
         white-space: nowrap;

         span {
            color: var(--dark);
         }
      }
   }

   .product-options {
      padding: 0 10px;

      &__item {
         font-size: 16px;
         font-weight: 300;
         line-height: 100%;
         color: var(--text_additional);
         display: flex;
         align-items: center;
         column-gap: 5px;
         white-space: nowrap;

         span {
            font-weight: 300;
            color: var(--dark);
            white-space: wrap;
         }

         &:not(:last-child) {
            margin-bottom: 5px;
         }
      }
   }

   &:hover {
      .product-img {
         background: var(--separating_contrast);
      }

      .product-info {
         .product-title {
            color: var(--action);
         }
      }
   }
}

@container order (max-width: 560px) {
   .product-order-card {
      .product-info {
         .product-title {
            max-width: clamp(180px, 60cqi, 320px);
         }
      }
   }
}