@import '../../../../components/category/category-list/category-list';

.category-brands-section {
   padding-top: var(--section_padding);
   padding-bottom: 100px;

   .btn_more {
      margin: 60px auto 0;
   }
}


