@import './reset';
@import './vars';
@import './mixin';
@import './functions';


// UI
@import '../components/ui/ui-preloader/ui-preloader';
@import '../components/ui/ui-button/ui-btn/ui-button';
@import '../components/ui/ui-button/ui-btn-icon/ui-button-icon';
@import '../components/ui/ui-button/ui-btn-icon/ui-button-icon';
@import '../components/ui/ui-button/ui-circle-icon/ui-circle-icon';
@import '../components/ui/ui-container/ui-container';
@import '../components/ui/ui-burger/ui-burger';
@import '../components/ui/ui-more/ui-more';
@import '../components/ui/ui-title/ui-title';
@import '../components/ui/ui-tab/ui-tab';
@import '../components/ui/ui-input/ui-input';
@import '../components/ui/ui-close/ui-close';
@import '../components/ui/ui-password-control/ui-password-control';
@import '../components/ui/ui-inside-radius/ui-inside-radius';
@import '../components/ui/ui';
@import '../components/ui/ui-star-rating/ui-star-rating';
@import '../components/ui/ui-dropdown/ui-dropdown';


// Components
@import '../components/order/cost-order/cost-order';
@import '../components/menu/mobile-menu/mobile-menu';
@import '../components/header/header';
@import '../components/slider-ui/slider-ui';
@import '../components/socials/socials';
@import '../components/product/product';
@import '../components/category/category-card/category-card';
@import '../components/sections/section-footer/section-footer';
@import '../components/product/product-card/product-card-cart/product-card-cart';
@import '../components/popups/popups';
@import '../components/login-reminder/login-methods/login-methods';
@import '../components/forms/ui-form';
@import '../components/forms/form-search/forms-search';
@import '../components/brand/brand';


// Custom scrollbar for Firefox 
* {
   box-sizing: border-box;
   font-family: var(--basic_font);
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      -webkit-tap-highlight-color: transparent;
   scroll-behavior: smooth;
   scrollbar-color: var(--action), var(--ui_dark) ; /* «цвет ползунка» «цвет полосы скроллбара» */
   scrollbar-width: thin ;/* толщина */
}

// Custom scrollbar for webKit
::-webkit-scrollbar {
   background: var(--ui_dark);
   width: 5px;
   height: 5px;
}

::-webkit-scrollbar-thumb {
   background: var(--action);
   border-radius: 50px;
}

::-webkit-scrollbar-corner {
   background: transparent;
}

html,body {
   scrollbar-gutter: stable;
   position: relative;
   // all: unset; // сбрасывыает все стили до значений по умолчанию
}

body {
   margin-bottom: 20px;
   font-family: var(--basic_font);

   &.no-scroll {
      overflow: hidden;
   }
}
   
html, body, main {
   width: 100%;
}

i {
   display: inline-block;
   font-family: var(--icon_font);
   font-size: var(--basic_font-size);
}


// TODO Page head section
.page-head-section {
   margin-bottom: var(--section_sm_padding);
}