@import './reset';
@import './vars';
@import './mixin';
@import './functions';


// UI
@import '../components/ui/ui-preloader/ui-preloader';
@import '../components/ui/ui-button/ui-btn/ui-button';
@import '../components/ui/ui-button/ui-btn-icon/ui-button-icon';
@import '../components/ui/ui-button/ui-btn-icon/ui-button-icon';
@import '../components/ui/ui-button/ui-btn-circle/ui-btn-circle';
@import '../components/ui/ui-container/ui-container';
@import '../components/ui/ui-burger/ui-burger';
@import '../components/ui/ui-more/ui-more';
@import '../components/ui/ui-title/ui-title';
@import '../components/ui/ui-input/ui-input';
@import '../components/ui/ui-close/ui-close';
@import '../components/ui/ui-password-control/ui-password-control';
@import '../components/ui/ui-inside-radius/ui-inside-radius';
@import '../components/ui/ui';
@import '../components/ui/ui-star-rating/ui-star-rating';
@import '../components/ui/ui-dropdown/ui-dropdown';


// Components
@import '../components/order/cost-order/cost-order';
@import '../components/menu/mobile-menu/mobile-menu';
@import '../components/header/header';
@import '../components/slider-ui/slider-ui';
@import '../components/socials/socials';
@import '../components/product/product';
@import '../components/category/category-card/category-card';
@import '../components/sections/section-footer/section-footer';
@import '../components/product/product-card/product-card-cart/product-card-cart';
@import '../components/popups/popups';
@import '../components/login-reminder/login-methods/login-methods';
@import '../components/forms/ui-form';
@import '../components/forms/form-search/forms-search';
@import '../components/brand/brand';


// Custom scrollbar for Firefox 
* {
   box-sizing: border-box;
   font-family: var(--basic_font);
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      -webkit-tap-highlight-color: transparent;
   scroll-behavior: smooth;
   scrollbar-color: var(--action), var(--ui_dark) ; /* «цвет ползунка» «цвет полосы скроллбара» */
   scrollbar-width: thin ;/* толщина */
}

// Custom scrollbar for webKit
::-webkit-scrollbar {
   background: var(--separating);
   width: 5px;
   height: 5px;
}

::-webkit-scrollbar-thumb {
   background: var(--border);
   border-radius: 50px;
}

::-webkit-scrollbar-corner {
   background: transparent;
}

html,body {
   scrollbar-gutter: stable;
   // all: unset; // сбрасывыает все стили до значений по умолчанию
}

body {
   margin-bottom: 20px;
   position: relative;
   font-family: var(--basic_font);
   

   &.no-scroll {
      overflow: hidden;
   }
}
   
html, body, main {
   // width: 100%;
}

i {
   display: inline-block;
   font-family: var(--icon_font);
   font-size: var(--basic_font-size);
}


// TODO Page head section
.page-head-section {
   margin-top: 40px;
   margin-bottom: var(--section_sm_gutter);
   overflow: hidden;
   position: relative;
   container-name: pageHeadContainer;
   container-type: inline-size;
 
   @extend %fullWidthElement;

   .ui-container {
      padding: clamp(100px, 30cqi, 100px) 20px;
      min-height: clamp(350px, 50cqi, 450px);
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      z-index: 1;

      @extend %dynamicRadius40to25;
   }

   .page-head__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right 30% center;

      @extend %dynamicRadius40to25;
   }

   @include media (max-width, 330px) {
      width: 100%;
      max-width: 100%;

      .ui-container {
         border-radius: 0;
      }
   }
}


// TODO Секция с рекомендованными товарами
.recommendend-products-section {
   margin-bottom: var(--section_gutter);
}