:root {
   --dark: #090909;
   --ui_dark: #25282E;
   --light: #FFFFFF;
   --action: #FA0959;
   --action_slow: #FDF3F7;
   --border: #DADADA;
   --border_dark: #383B42;
   --text_dark: #5C5C5C;
   --text_additional: #9095A2;
   --text_selected_on_dark: #D1CFDD;
   --separating: #F8F9FB;
   --separating_contrast: #EEF1F5;
   --ui_disabled_light: #F7F8FA;

   // Shadows
   --light_btn_shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.06);
   --dark_btn_shadow: 0px 25px 18px rgba(0, 0, 0, 0.25);
   --action_btn_shadow: 0px 16px 20px rgba(129, 0, 43, 0.25);
   --card_btn_action_hover_shadow: 0px 6px 10px 0px rgba(103, 0, 34, 0.22);
   --dark_block_shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.30);
   --circe_light_shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.30);

   // Border radius
   --circleRd: 50%;
   --defaultRd: 40px;
   --xlRd: 50px;
   --lgRd: 30px;
   --optionalRd: 25px;
   --mdRd: 20px;
   --slRd: 15px;
   --smRd: 10px;
   --xsRd: 5px;

   // Fonts
   --basic_font: 'Futura New', sans-serif;
   --basic_font_size: 17px;
   --icon_font: 'Electron';

   // Paddings
   --default_padding: 20px;
   --small_tabs_padding: 15px;
   --small_btn_padding: 10px;
   --section_padding: 160px;
   
   // Sizes
   --full_container_width: 1580px;
}