:root {
   --dark: #090909;
   --ui_dark: #25282E;
   --light: #FFFFFF;
   --action: #FA0959;
   --action_slow: #FDF3F7;
   --border: #DADADA;
   --border_dark: #383B42;
   --text_dark: #5C5C5C;
   --text_additional: #9095A2;
   --text_selected_on_dark: #D1CFDD;
   --text_dark_action: #8B002E;
   --text_slow_action: #B9A8B9;
   --separating: #F8F9FB;
   --separating_contrast: #EEF1F5;
   --ui_disabled_light: #F7F8FA;
   --error: #a40000;
   --error_bg: #d79393;
   --success: #9EFF8E;
   --overlay: rgba(9, 9, 9, .5);
   --active_star: #FFC700;

   // Shadows
   --light_btn_shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.06);
   --dark_btn_shadow: 0px 25px 18px rgba(0, 0, 0, 0.25);
   --action_btn_shadow: 0px 16px 20px rgba(129, 0, 43, 0.25);
   --card_btn_action_hover_shadow: 0px 6px 10px 0px rgba(103, 0, 34, 0.22);
   --dark_block_shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.30);
   --circe_light_shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.30);
   --ui_close_shadow: 0px 7px 15px rgba(0, 0, 0, 0.40);
   --popup_shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.40);
   --notification_shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.14);
   --submenu_shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
   --category_card_hover_shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.04);

   // Border radius
   --circleRd: 50%;
   --defaultRd: 40px;
   --xlRd: 50px;
   --lgRd: 30px;
   --optionalRd: 25px;
   --mdRd: 20px;
   --slRd: 15px;
   --smRd: 10px;
   --xsRd: 5px;

   // Fonts
   --basic_font: 'Futura New', sans-serif;
   --basic_font_size: 17px;
   --icon_font: 'Electron';

   // Paddings
   --fade_on_the_side_padding: 30px;
   --default_padding: 20px;
   --small_tabs_padding: 15px;
   --small_btn_padding: 10px;
   --section_padding: 160px;
   --fields_gutter: 15px;
   --ui_popup_gutter: 60px;

   @media all and (max-width: 550px) {
      --ui_popup_gutter: 50px;
   }

   // Sizes
   --full_container_width: 1540px;
   --fade_on_the_side_width: 630px;
   --ui_popup_container_width: 820px;
}