@mixin button (
   $padding: 16px 50px,
   $fFamily: $titleFont,
   $fSize: 18px,
   $fWeight: 400,
   $lHeight: 100%,
   $color: var(--btnColor1),
   $bg: transparent,
   $border: 1px solid var(--scrollbar),
   $btnRd: $buttonRd,
   $transition: all .2s ease,
) {
   padding: $padding;
   font-family: $fFamily;
   font-size: $fSize;
   font-weight: $fWeight;
   line-height: $lHeight;
   color: $color;
   background: $bg;
   border: $border;
   border-radius: $btnRd;
   transition: $transition;
   leading-trim: both;
   text-edge: cap;
}

.btn--1 {
   @include button;
   &:hover {
      color: var(--light);
      background: var(--btnColor1);
      border: 1px solid var(--btnColor1);
   }
}

.btn--2 {
   @include button( $color: var(--btnColor2) );
   &:hover {
      color: var(--light);
      background: var(--btnColor2);
      border: 1px solid var(--btnColor2);
   }
}