@mixin container (
   $maxWidth: 1580px,
) {
   margin: 0 auto;
   padding: 0 var(--default_padding);
   max-width: $maxWidth;
}

.ui-container {
   @include container;

   @include media (max-width, 360px) {
      padding: 0 15px;
   }
}