.menu {
   &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: clamp(15px, 1.5cqi, 25px);

      &__item {
         @include hoverLinkUnderline ( 
            $bgColorStart: var(--action),
            $bgYSize: 2px,
            $duration: .2s,
            $hoverChild: true
         );

         & > .child {
            padding: 34px 0;
            font-size: clamp(14px, 1cqi, 16px);
            font-weight: 600;
            line-height: 100%;
            text-transform: uppercase;
            color: var(--dark);
            display: inline-block;
            cursor: pointer;
         }

         &:hover {
            & > .child {
               color: var(--action);
            }

            .submenu-wrapper {
               opacity: 1;
               visibility: visible;
               translate: none;
               transition-delay: .2s;
            }
         }
      }
   }

   @include media(max-width, 1200px) {
      &-list > &__item > .child {
         font-size: clamp(17px, 1.8cqi, 22px);
      }
   }

   @include media(max-width, 1050px) {
      display: none;
   }
}




header.sticky {
   .menu {
      &-list {
         &__item {
            & > .child {
               padding: 28px 0;
            }
         }
      }
   }
}
