.menu {
   &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: clamp(15px, 1.5cqi, 25px);
      position: relative;

      &__item {
         @include hoverLinks($hoverChild: true, $height: 3px);

         & > a {
            padding: 34px 0;
            font-size: clamp(14px, 1cqi, 16px);
            font-weight: 600;
            line-height: 100%;
            text-transform: uppercase;
            color: var(--dark);
            display: inline-block;
            transition: background-size .2s ease, color .2s ease;

            &:hover {
               color: var(--action);
            }
         }
      }
   }

   @include media(max-width, 1200px) {
      &-list > &__item > a {
         font-size: clamp(17px, 1.8cqi, 22px);
      }
   }

   @include media(max-width, 1050px) {
      display: none;
   }
}