<nav class="menu" id="header-nav">
   <ul class="menu-list">
      <li class="menu-list__item"><a class="child" href="../../../pages/page-category/page-category.html">Ноутбуки и ПК</a></li>
      <li class="menu-list__item"><a class="child" href="../../../pages/page-category/page-category.html">Смартфоны</a></li>
     
      <li class="menu-list__item">
         <a class="child" href="../../../pages/page-category/page-category.html">Комплектующие</a>
         @@include('./submenu/submenu.html')
      </li>

      <li class="menu-list__item">
         <a class="child" href="../../../pages/page-category/page-category.html">Аксессуары</a>
         @@include('./submenu/submenu.html')
      </li>
   </ul>
</nav>