.top-menu {
   padding: 10px 0;

   .ui-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .nav-wrap {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   .btn-group {
      display: flex;
      align-items: center;
      gap: var(--small_btn_padding);

      button {
         padding: 11px 30px;
      }
   }

   @include media(max-width, 350px) {
      .btn-group {
         .btn_register {
            display: none;
         }
      }
   }
}