<div class="top-menu">
   <div class="ui-container">
      <div class="nav-wrap">
         @@include('../../ui/ui-burger/ui-burger.html')
         @@include('top-navigation/top-navigation.html')
      </div>

      <div class="btn-group">
         <!-- @@include('../../ui/ui-button/ui-btn/ui-button.html', {
            "text": "Регистрация",
            "className": "btn_reg"
         }) -->

         @@include('../../ui/ui-button/ui-btn/ui-button.html', {
            "text": "Вход/Регистрация",
            "className": "btn_login"
         })
      </div>
   </div>
</div>