.catalog-filters {
   margin-bottom: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;

   @include media (max-width, 450px) {
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
   }
}