<form action="" class="form-order step-order" data-id="1">
   <div class="step-order__content">
      <div class="form-column">
         <!-- Контакты -->
         <fieldset class="order-fieldset">
            <legend class="fieldset-title">Контакты</legend>
   
            <div class="fields-group">
               <div class="ui-form-item">
                  <input type="email" name="user_email" inputmode="email" autocomplete="email" placeholder="Email" class="ui-input">
                  <span class="error-message"></span>
               </div>
   
               <div class="ui-form-item form-item_tel">
                  <div class="ui-dropdown dropdown_tel"></div>
                  <input type="tel" name="user_tel" inputmode="tel" autocomplete="tel" placeholder="Телефон" class="ui-input">
                  <span class="error-message"></span>
               </div>
   
               <div class="ui-form-item">
                  <input type="text" name="user_name" inputmode="text" autocomplete="given-name" placeholder="Имя" class="ui-input ">
                  <span class="error-message"></span>
               </div>
   
               <div class="ui-form-item">
                  <input type="text" name="user_surname" inputmode="text" autocomplete="family-name" placeholder="Фамилия" class="ui-input ">
                  <span class="error-message"></span>
               </div>
            </div>
         </fieldset>
   
         <!-- Способ доставки -->
         <fieldset class="order-fieldset delivery_fieldset">
            <legend class="fieldset-title">Способ доставки</legend>
   
            <div class="delivery-list order_delivery-list"></div>
            <!-- @@include('../../delivery/delivery-item-order.html') -->
         </fieldset>
   
         <!-- Адрес доставки -->
         <fieldset class="order-fieldset">
            <legend class="fieldset-title">Адрес доставки</legend>
   
            <div class="address-delivery">
               @@include('../address-delivery/address-delivery.html')
            </div>
         </fieldset>
      </div>
   
      <div class="form-column">
         <!-- Комментарий -->
         <fieldset class="order-fieldset">
            <legend class="fieldset-title">Комментарий</legend>
   
            <div class="ui-form-item full-width">
               <textarea name="user_comment" placeholder="Комментарий" class="ui-textarea "></textarea>
            </div>
         </fieldset>
   
         @@include('../../shopping-cart/shopping-cart-info.html')
      </div>
   </div>
   
   <div class="nav-wrap">
      <div class="nav-group-links">
         <a href="../../../pages/page-cart/page-cart.html" class="basicHoverUnderline order-nav_link">
            <span class="child">Вернуться в корзину</span>
         </diфv>

         <a href="#order_tabs" data-for="2" class="btn_target-action btn_order nav_order">Продолжить</a>
      </div>
   </div>
</form>