.step-order {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   opacity: 0;
   visibility: hidden;
   transform: translateX(50px);
   transition: all .5s ease;

   &.active {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition-delay: .6s;
   }

   &__content  {
      display: grid;
      grid-template: auto / 1.2fr 1fr;
      gap: clamp(20px, 7cqi, 130px);
   }
   
   .nav-wrap {
      margin-top: 60px;
      display: grid;
      grid-template: auto / 1.2fr 1fr;
      gap: clamp(20px, 7cqi, 130px);

      .nav-group-links {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         flex-wrap: wrap;
         column-gap: 30px;
         row-gap: 15px;
      }

      .order-nav_link {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 15px;
         cursor: pointer;

         &:before {
            content: '\e902';
            display: block;
            font-family: var(--icon_font);
            font-size: 13px;
            color: var(--dark);
            transition: all .2s ease;
         }

         .child {
            padding: 5px 0;
            font-size: 17px;
            font-weight: 400;
            line-height: 100%;
            color: var(--dark);
         }

         &:hover {
            &:before {
               transform: translateX(-5px);
               color: var(--action);
            }

            .child {
               color: var(--action);
            }
         }
      }
   }

   .order-fieldset {
      .fieldset-title {
         margin-bottom: 20px;
         display: flex;
         align-items: flex-end;
         justify-content: space-between;
         gap: 20px;
         font-size: 25px;
         font-weight: 500;
         line-height: 100%;
         color: var(--dark);

         .btn-edit {
            width: 35px;
            height: 35px;
            background: var(--separating_contrast);
            border-radius: var(--circleRd);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease;

            &:after {
               content: '\e913';
               font-family: var(--icon_font);
               font-size: 15px;
               color: var(--dark);
               display: block;
               transition: inherit;
            }

            &:hover {
               background: var(--action_slow);

               &:after {
                  color: var(--action);
               }
            }
         }
      }

      &:not(:last-child) {
         margin-bottom: 60px;
      }
   }

   .fields-group {
      display: grid;
      grid-template: auto / 1fr 1fr;
      gap: var(--fields_gutter);
   }



   @include media (max-width, 1000px) {
      .step-order__content,
      .nav-wrap {
         grid-template: auto / 1fr;
      }
   }

   @include media (max-width, 550px) {
      .fields-group {
         grid-template: 1fr / 1fr;
      }
   }

   @include media (max-width, 500px) {
      .nav-wrap  {
         .nav-group-links {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;

            .btn_order {
               order: 1;
               width: 100%;
            }

            .order-nav_link {
               order: 2;
            }
         }
      }
   }
}



// TODO 
.form-item_tel {
   .ui-input {
      padding-left: 87px;
   }
}