$transition: all .2s ease;

.product-cart {
   padding: 5px 20px 5px 5px;
   position: relative;
   border-radius: var(--mdRd);
   background: var(--ui_darker);
   display: grid;
   grid-template: 1fr / 150px 1fr;
   gap: 20px;
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px);
   transition: all .3s ease;

   &__img {
      width: 100%;
      background: var(--ui_dark);
      border-radius: var(--slRd);
      transition: $transition;

      img {
         max-width: 100%;
         height: auto;
      }

      &:hover {
         background: var(--border_dark);
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .wrapper {
         margin-top: 10px;
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         gap: 30px;
      }
   }

   &__name {
      a {
         font-size: 19px;
         font-weight: 300;
         line-height: 110%;
         color: var(--text_selected_on_dark);
         max-width: 280px;
         transition: $transition;
         
         @include textCropping;
      }

      &:hover {
         a {
            color: var(--action);
         }
      }
   }

   &__price {
      font-size: 17px;
      font-weight: 300;
      line-height: 100%;
      color: var(--light);
      white-space: nowrap;
   }

   &__counter {
      margin-bottom: 5px;
      justify-self: flex-start;
   }

   &.product_compare {
      .product-cart__content {
         display: block;
      }

      .product-cart__counter {
         display: none;
      }
   }

   @include media (max-width, 650px) {
      padding: 5px;
      grid-template: auto / 1fr;
      gap: 15px;
      background: transparent;

      .product-cart__img {
         padding: 0;
      }

      .product-cart__content {
         display: block;

         .wrapper {
            margin-top: 0;
            margin-bottom: 20px;
         }
      }
   }
}

.ui-popup.active {
   .product-cart {
      $j: 0.5s;

      @for $i from 1 through 20 {
         $j: $j + 0.1s;
         &:nth-child(#{$i}) {
            opacity: 1;
            visibility: visible;
            transform: none;
            transition-delay: $j;
         }
      }
   }
}