$uiControlSize: 20px;
$uiFilterControlSize: 23px;
$uiColorControlSize: 25px;

%controlName {
   font-size: 17px;
   font-weight: 300;
   line-height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: var(--small_tabs_padding);
   user-select: none;
   transition: all .3s ease;

   .value {
      color: var(--text_selected_on_dark);
      transition: inherit;
   }

   .count {
      color: var(--text_additional);
      transition: inherit;
   }
}

.ui-control {
   position: relative;
   cursor: pointer;

   &__custom {
      position: absolute;
      top: -1px;
      left: 0;
      width: $uiControlSize;
      height: $uiControlSize;
      // overflow: hidden;
      border: 1px solid var(--text_additional);
      transition: all .3s ease;

      &:after {
         display: block;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         translate: 0 -13px;
         opacity: 0;
         visibility: hidden;
         transition: inherit;
      }
   }

   &__name {
      padding-left: calc(#{$uiControlSize} + var(--small_btn_padding));
      color: var(--text_additional);

      @extend %controlName;
   }

   &__input:checked ~ &__custom {
      &:after {
         opacity: 1;
         visibility: visible;
         translate: none;
      }
   }

   &__input:checked ~ &__name {
      color: var(--light);
   }


   // TODO Color в фильтрах
   &.filter_color {
      .ui-control__custom {
         width: 25px;
         height: 25px;
      }
   }

   // TODO Radio
   &.radio {
      .ui-control__custom {
         border-radius: var(--circleRd);

         &:after {
            content: '';
            position: absolute;
            width: 70%;
            height: 70%;
            border-radius: var(--circleRd);
            background: var(--action);
         }
      }
   }


   // TODO Checkbox
   &.checkbox {
      .ui-control__custom {
         border-radius: var(--xsRd);

         &:after {
            content: '\e90c';
            font-family: var(--icon_font);
            font-size: 14px;
            color: var(--light);
            
         }
      }

      .ui-control__input:checked ~ .ui-control__custom {
         background: var(--action);
         border-color: var(--action);
      }

      .ui-control__input:disabled {
         & ~ .ui-control__custom {
            background: transparent;
            border-color: var(--ui_dark);
            cursor: not-allowed;
         }

         & ~ .ui-control__name {
            color: var(--border_dark);
            cursor: not-allowed;
         }
      }
   }


   // TODO Контролы в фильре каталога
   &.filter {
      .ui-control__custom {
         top: -3px;
         width: $uiFilterControlSize;
         height: $uiFilterControlSize;
      }
      
      .ui-control__name {
         padding-left: calc(#{$uiFilterControlSize} + var(--small_tabs_padding));
         @extend %controlName;
      }

      .ui-control__input:checked ~ .ui-control__name {
         .value, .count {
            color: var(--light);
         }
      }

      .ui-control__input:disabled {
         & ~ .ui-control__name {
            cursor: not-allowed;

            .value, .count {
               color: var(--border_dark);
            }
         }
      }

      &.color {
         .ui-control__custom {
            border-radius: var(--circleRd);
            outline: 1px solid transparent;
            outline-offset: 2px;
            border: none;
            background: #FDE8CF;

            &:after {
               display: none;
            }
         }

         .ui-control__input:checked ~ .ui-control__custom {
            outline-color: var(--action);
            border: none;
            background: inherit;
         }

         .ui-control__input:disabled {
            & ~ .ui-control__custom {
               opacity: .1;
               cursor: not-allowed;
            }
         }
      }
   }
}