.ui-form {
   display: grid;
   grid-template: auto / 1fr;
   gap: var(--ui_popup_gutter);

   &.three-fields,
   .three-fields {
      display: grid;
      grid-template: auto / 1fr 1fr;
      gap: var(--fields_gutter);

      .ui-form-submit {
         margin-top: 40px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: var(--fields_gutter);
         grid-column: 1 / 3;
   
         &__text {
            font-size: 15px;
            font-weight: 300;
            line-height: 100%;
            color: var(--text_additional);
            max-width: 200px;
         }
      }

      .ui-form-item.full-width {
         grid-column: 1 / 3;
      }
   }
}

@include media (max-width, 550px) {
   .ui-form {
      &.three-fields,
      .three-fields {
         grid-template: auto / 1fr;
   
         .ui-form-submit {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
   
            &__text {
               text-align: center;
               max-width: 400px;
            }
         }

         .ui-form-item.full-width,
         .ui-form-submit {
            grid-column: 1 / 2;
         }
      }
   }
}